{% load static tailwind_tags %}
{#{% load static %}#}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {# Tw elelements multiple select#}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
        {# Fontawesome icons #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	    {% tailwind_css %}
    </head>

	<body class="bg-gray-50 dark:bg-slate-700 text-black dark:text-gray-50 min-h-screen flex flex-col">
        <header>
            {% include 'navbar.html' %}
        </header>
        <main class="flex-1">
            {% with warningClass="flex items-center p-4 mb-4 font-bold text-lg text-red-600 border-2 border-red-600 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-600 dark:border-red-700 alert alert-warning alert-dismissible" role="alert" %}
            {% with successClass="flex items-center p-4 mb-4 font-bold text-lg text-blue-600 border-2 border-blue-600 rounded-lg bg-blue-100 dark:bg-gray-800 dark:text-blue-600 dark:border-blue-700 alert alert-success alert-dismissible" role="alert" %}
            {% with infoClass="flex items-center p-4 mb-4 font-bold text-lg text-yellow-500 border-2 border-yellow-500 rounded-lg bg-yellow-100 dark:bg-gray-800 dark:text-yellow-500 dark:border-yellow-600 alert alert-success alert-dismissible" role="alert" %}
            {% with errorClass="flex items-center p-4 mb-4 font-bold text-lg text-red-600 border-2 border-red-600 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-600 dark:border-red-700 alert alert-warning alert-dismissible" role="alert" %}
                {% if messages %}
                    {% for message in messages %}
                            <div id="alertMessage{{ forloop.counter }}" class="{% if message.tags == 'success' %}{{ successClass }}{% endif %} {% if message.tags == 'warning' %}{{ warningClass }}{% endif %} {% if message.tags == 'error' %}{{ errorClass }}{% endif %}{% if message.tags == 'info' %}{{ infoClass }}{% endif %}">
                                <i class="fa-solid fa-circle-exclamation"></i><strong class="font-extrabold ml-4 mr-2">Uwaga!</strong> <span> {{ message }} </span>
                                <button onclick="closeAlert({{ forloop.counter }})" type="button" data-bs-dismiss="alert" aria-label="Close" class="ms-auto -mx-1.5 -my-1.5 bg-gray-950 text-red-600 rounded-lg focus:ring-2 focus:ring-red-600 p-1.5 hover:bg-gray-700 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-600 dark:hover:bg-gray-700">
                                    <i class="fa-solid fa-xmark fa-2x"></i>
                                </button>
                            </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

            {% block content %}

            {% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script> {% comment %}for multiple select TW elements{% endcomment %}
	</body>
</html>

<script>
    function closeAlert(id) {
        console.log("Id =", id)
        var alertMessage = document.getElementById('alertMessage'+id);
        alertMessage.style.display = 'none';
    }
</script>