{% load static tailwind_tags %}
{#{% load static %}#}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{#        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {# bootstrap psuje css do naglowka#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	    {% tailwind_css %}
    </head>

	<body class="bg-gray-50 dark:bg-slate-700 text-black dark:text-gray-50">
        <header>
            {% include 'navbar.html' %}
        </header>
        <main>
            {% if messages %}
                {% for message in messages %}
                    <div class="flex items-center p-4 mb-4 font-bold text-lg text-red-600 border-2 border-red-600 rounded-lg bg-orange-100 dark:bg-gray-800 dark:text-red-600 dark:border-red-700 alert alert-warning alert-dismissible" role="alert">
                        <i class="fa-solid fa-circle-exclamation"></i><strong class="font-extrabold ml-4 mr-2">Uwaga!</strong> <span> {{ message }} </span>
                        <button type="button" data-bs-dismiss="alert" aria-label="Close" class="ms-auto -mx-1.5 -my-1.5 bg-orange-100 text-red-600 rounded-lg focus:ring-2 focus:ring-red-600 p-1.5 hover:bg-orange-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-600 dark:hover:bg-gray-700">
                            <i class="fa-solid fa-xmark fa-2x"></i>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div>
                {% block content %}
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                {% endblock %}
            </div>
        </main>
	</body>
</html>
