<button id="notificationsButton" class="h-8 relative inline-flex items-center p-3 text-center mr-10">
    <i class="fa-solid fa-bell fa-xl"></i>
    {% if numberOfNotificationsHasNotBeenSeen > 0 %}
        <div id="numberOfNotificationsDiv" class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-neutral-300 dark:border-slate-900 rounded-full -top-2 -end-1">{{ numberOfNotificationsHasNotBeenSeen }}</div>
    {% endif %}
</button>

<div id="notificationsDropdown" class="absolute z-10 hidden bg-gray-50 divide-y divide-gray-100 shadow w-96 dark:bg-gray-700 dark:divide-gray-600 right-52 border border-black overflow-y-hidden hover:overflow-y-auto" style="top: 67px; max-height: 30vh;">
    {%  for notification in notifications %}
        {% if notification.hasBeenSeen %}
             <div onclick="navigateToEvent({{ notification.id }},'{{ notification.availableBookingDate.id }}', '{{ notification.reservation.id }}', event)" class="p-2 font-normal text-sm text-gray-400">
                <a href="{% url 'userProfile' pk=notification.fromUser.id %}" class="linkToUserProfile font-bold hover:text-blue-700 dark:hover:text-blue-400 whitespace-nowrap">{{ notification.fromUser.first_name }} {{ notification.fromUser.last_name }}</a>
                <span>
                    {{ notification.content }}
                    <div>{{ notification.date|date:"Y-m-d H:i:s" }}</div>
                </span>
            </div>
        {% else %}
            <div onclick="navigateToEvent({{ notification.id }},'{{ notification.availableBookingDate.id }}', '{{ notification.reservation.id }}', event)" class="p-2 font-normal text-sm text-gray-900 dark:text-white">
                <a href="{% url 'userProfile' pk=notification.fromUser.id %}" class="linkToUserProfile font-bold hover:text-blue-700 dark:hover:text-blue-400 whitespace-nowrap">{{ notification.fromUser.first_name }} {{ notification.fromUser.last_name }}</a>
                <span>
                    {{ notification.content }}
                    <div>{{ notification.date|date:"Y-m-d H:i:s" }}</div>
                </span>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
    {% comment %}async function changeWindowLocation(url){
        setTimeout(function(){console.log("KURWA"); window.location.href = url;}, 3000)
    }
    async function passDataChangeWindowLocation(ajaxUrl, ajaxData, windowUrl){
        console.error(ajaxUrl, ajaxData)
        await passDataByAJAXUniversal(ajaxUrl, ajaxData);
        await changeWindowLocation(windowUrl);
    };{% endcomment %}
    function changeWindowLocation(url){
        return new Promise(function(resolve) {
            {#setTimeout(function(){#}
            {#    console.log("KURWA");#}
            {#    window.location.href = url;#}
            {#    resolve();}, 3000);#}
            window.location.href = url;
            resolve();
        });
    }
    function passDataChangeWindowLocation(ajaxUrl, ajaxData, windowUrl){
        console.error(ajaxUrl, ajaxData)
        //passDataByAJAXUniversal(ajaxUrl, ajaxData).then(changeWindowLocation(windowUrl))
        passDataByAJAXUniversal(ajaxUrl, ajaxData)
        .then(function() {
            return changeWindowLocation(windowUrl);
        })
    };

    function navigateToEvent(notificationId, availableBookingDateId, reservationId, e){
        console.error("Id = ", notificationId," Navigate = ", availableBookingDateId, " lub ", reservationId, " event = ", e)
        let eventId = null
        if(reservationId) { eventId = reservationId; }
        else if (availableBookingDateId) { eventId = availableBookingDateId; }

        if (!e.target.classList.contains('linkToUserProfile')) {
            //window.location.reload();
            //passDataByAJAXUniversal('/readNotification/', {'id': notificationId})
            //window.location.href = '/?id='+eventId+'&notificationId='+notificationId;
            let url = '/?id='+eventId+'&notificationId='+notificationId;
            passDataChangeWindowLocation('/readNotification/', {'id': notificationId}, url)

        }
    };
    document.addEventListener("DOMContentLoaded", function () {
        let notificationsButton = document.getElementById("notificationsButton");
        if(!notificationsButton) { return; }
        let notificationsDropdown = document.getElementById("notificationsDropdown");
        notificationsButton.addEventListener("click", function (event) {
            //event.stopPropagation();
            notificationsDropdown.classList.toggle("hidden");
        });
        document.addEventListener("click", function (event) {
            if (!event.target.closest("#notificationsButton") && !event.target.closest("#notificationsDropdown")) {
                notificationsDropdown.classList.add("hidden");
            }
        });
    });

    {% comment %}function navigateToEvent(notificationId, availableBookingDateStartDate, reservationStartDate){
        console.error("Id = ", notificationId," Navigate = ", availableBookingDateStartDate, " lub ", reservationStartDate)
        let navigateDate = null
        if(reservationStartDate) { navigateDate = new Date(reservationStartDate); }
        else if (availableBookingDateStartDate) { navigateDate = new Date(availableBookingDateStartDate); }

        let numberOfNotificationsDiv = document.getElementById('numberOfNotificationsDiv');
        let numberOfNotifications = parseInt(numberOfNotificationsDiv.innerText, 10);
        numberOfNotificationsDiv.innerText = numberOfNotifications-1;

        if(navigateDate){ calendar.gotoDate(navigateDate) }
        passDataByAJAX('/changeNotificationStatus/', {'id' : notificationId, 'hasBeenSeen':'true'}, false)
    };{% endcomment %}
</script>
