<button id="notificationsButton" class="h-8 relative inline-flex items-center p-3 text-center mr-10">
    <i class="fa-solid fa-bell fa-xl"></i>
    {% if notifications.count > 0 %}
        <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-neutral-300 dark:border-slate-900 rounded-full -top-2 -end-1">{{ notifications.count }}</div>
    {% endif %}
</button>

<div id="notificationsDropdown" class="absolute z-10 hidden bg-gray-50 divide-y divide-gray-100 shadow w-96 dark:bg-gray-700 dark:divide-gray-600 right-52 border border-black" style="top: 67px">
    {%  for notification in notifications %}
        <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
            <div>
                <a href="{% url 'userProfile' pk=notification.fromUser.id %}" class="font-bold hover:text-blue-700 dark:hover:text-blue-400 whitespace-nowrap">{{ notification.fromUser.first_name }} {{ notification.fromUser.last_name }}</a>
                {% if notification.notificationType == 0 %}
                    potwierdził twoją <a href="" class="whitespace-nowrap">rezerwacje {{ notification.availableBookingDate.id }}</a>
                {% elif notification.notificationType == 1 %}
                    zaakceptował twoją <a href="" class="whitespace-nowrap">propozycje terminu {{ notification.reservation.id }}</a>
                {% endif %}
            </div>
            <div>{{ notification.date|date:"Y-m-d H:i" }}</div>
        </div>
    {% endfor %}

    {% comment %}<div class="p-2 font-normal text-sm text-gray-900 dark:text-white whitespace-nowrap">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} zaakceptował twoją propozycje terminu</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white whitespace-nowrap">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} potwierdził twoją rezerwacje</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} zaproponował termin rezerwacji</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} anululował potwierdzony termin</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} usunął twój dostępny termin</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} edytował twój dostępny termin</a>
        <div>2023-10-20 19:35:20</div>
    </div>
    <div class="p-2 font-normal text-sm text-gray-900 dark:text-white">
        <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }} edytował swój dostępny termin poza przedział twojej rezerwacji</a>
        <div>2023-10-20 19:35:20</div>
    </div>{% endcomment %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let notificationsButton = document.getElementById("notificationsButton");
        if(!notificationsButton) { return; }
        let notificationsDropdown = document.getElementById("notificationsDropdown");
        notificationsButton.addEventListener("click", function (event) {
            //event.stopPropagation();
            notificationsDropdown.classList.toggle("hidden");
        });
        document.addEventListener("click", function (event) {
            if (!event.target.closest("#notificationsButton") && !event.target.closest("#notificationsDropdown")) {
                notificationsDropdown.classList.add("hidden");
            }
        });
    });
</script>
