<div id="changeOptionsAvailableBookingDateModal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-gray-50 rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    <a id="serviceProviderProfileLink" href="" class="hover:text-blue-500"><span id="serviceProviderNameAndSurname"></span></a>
                    <div id="dateRangeAvailableBookingDate"></div>
                </h3>
                <button onclick="closeModal('changeOptionsAvailableBookingDateModal')" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crypto-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Co chcesz zrobić z wybranym dostępnym terminem rezerwacji?</p>
                <ul class="my-4 space-y-3">
                    <li>
                        <a onclick="editAvailableBookingDate()" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <i class="fa-regular fa-calendar-plus"></i>
                            <span class="flex-1 ms-3 whitespace-nowrap">Edytuj dostępny termin rezerwacji</span>
                        </a>
                    </li>
                    <li>
                        <a onclick="openDeleteAvailableBookingDateModal()" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                            <i class="fa-regular fa-calendar-minus"></i>
                            <span class="flex-1 ms-3 whitespace-nowrap">Usuń dostępny termin rezerwacji</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    {#    Script to add/close new available booking date or used to changeOptions with data then#}
    function openModal(modalId, data) {
        let modal = document.getElementById(modalId);
        {#$('#'+modal).removeClass('hidden');#}
        if(data){
            let serviceProviderProfileElement = modal.querySelector('#serviceProviderProfileLink');
            serviceProviderProfileElement.href = "/userProfile/"+data.serviceProviderId+"/";
            let serviceProviderNameAndSurnameElement = modal.querySelector('#serviceProviderNameAndSurname');
            serviceProviderNameAndSurnameElement.textContent = "Usługodawca: " + data.serviceProviderNameAndSurname;

            let startDate = data.startAvailableBookingDate;
            let endDate = data.endAvailableBookingDate;
            {#uwzglednienie strefy czasowej#}
            startDate.setMinutes(startDate.getMinutes() + startDate.getTimezoneOffset())
            endDate.setMinutes(endDate.getMinutes() + endDate.getTimezoneOffset())
            {#let startDateString = data.startAvailableBookingDate.toISOString().split('T')[0];#}
            let startDayOfTheWeek = polishDaysOfWeek[startDate.getDay()]
            let startDateString = startDate.getDate() + " " + polishMonths[startDate.getMonth()]
            let startTimeString = startDate.getMinutes() < 10 ? startDate.getHours() + ":0" + startDate.getMinutes() : startDate.getHours() + ":" + startDate.getMinutes();
            let endDateString = endDate.getDate() + " " + polishMonths[endDate.getMonth()]
            let endTimeString = endDate.getMinutes() < 10 ? endDate.getHours() + ":0" + endDate.getMinutes() : endDate.getHours() + ":" + endDate.getMinutes();
            let dateRangeAvailableBookingDateElement = modal.querySelector('#dateRangeAvailableBookingDate');
            if (startDate.getDate() === endDate.getDate()){
                dateRangeAvailableBookingDateElement.textContent = startDayOfTheWeek + ", " + startDateString + " " + startTimeString + " - " + endTimeString
            }else{
                dateRangeAvailableBookingDateElement.textContent = startDateString + " " + startTimeString + " - " + endDateString + " " + endTimeString
            }

        }
        {#$('body').addClass('overflow-hidden');#}
        modal.classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
    };
    function closeModal(modalId) {
        {#$('#'+modal).addClass('hidden');#}
        {#$('body').removeClass('overflow-hidden');#}
        let modal = document.getElementById(modalId);
        modal.classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
    };

    function editAvailableBookingDate() {
        {#console.log(selectedEventInfo)#}
        console.log("DATETIME nieprzetworzone: ", selectedEventInfo.event.start)
        closeModal('changeOptionsAvailableBookingDateModal');
        $('#editAvailableBookingDateModal [name="title"]').val(selectedEventInfo.event.title);
        let startDate = selectedEventInfo.event.start.toISOString().split('T')[0];
        let startTime = selectedEventInfo.event.start.toISOString().split('T')[1].slice(0, 5);
        let endDate = selectedEventInfo.event.end.toISOString().split('T')[0];
        let endTime = selectedEventInfo.event.end.toISOString().split('T')[1].slice(0, 5);
        console.log(startDate, startTime, endDate, endTime)
        $('#editAvailableBookingDateModal [name="startDate"]').val(startDate);
        $('#editAvailableBookingDateModal [name="startTime"]').val(startTime);
        $('#editAvailableBookingDateModal [name="endDate"]').val(endDate);
        $('#editAvailableBookingDateModal [name="endTime"]').val(endTime);

        openModal('editAvailableBookingDateModal')
    }

    function openDeleteAvailableBookingDateModal() {
        closeModal('changeOptionsAvailableBookingDateModal');
        openModal('deleteAvailableBookingDateModal');
    }
</script>