{% extends 'test/posts/main.html' %}

{% block content %}
    Moja strona

{% endblock %}






{#<head>#}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />#}
{#</head>#}
{##}
{#<body>#}
{#    <select data-te-select-init data-te-select-placeholder="Example placeholder" multiple>#}
{#        <option value="1">One</option>#}
{#        <option value="2">Two</option>#}
{#        <option value="3">Three</option>#}
{#        <option value="4">Four</option>#}
{#        <option value="5">Five</option>#}
{#    </select>#}
{#    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>#}
{#</body>#}

