{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'myCSS/calendar.css' %}">
        {% comment %}Datatables{% endcomment %}
        <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
        {% comment %}sortowanie tabeli po datach potrzebne{% endcomment %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.11.5/sorting/datetime-moment.js"></script>
    </head>
    <body>
        <div id="availableBookingDateTableContainerXD" class="tableContainer m-10">
                <table id="availableBookingDateTableXD" class="display cell-border nowrap" style="width: 100%">
                    <thead class="table-success">
                        <tr>
                            <th>Data rozpoczęcia</th>
                            <th>Godzina rozpoczęcia</th>
                            <th>Godzina zakończenia</th>
                            <th>Data zakończenia</th>
                            <th>Usługodawca</th>
                            <th>Czas wizyty</th>
                            {% comment %}<th rowspan="2">Dostępne operacje</th>{% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in availableBookingDates %}
                            <tr>
                                <td data-order="{{ event.start|date:'Y-m-d\TH:i:s' }}">{{ event.start|myDateFormat }}</td>
                                <td data-order="{{ event.start }}">{{ event.start|myTimeFormat}}</td>
                                <td data-order="{{ event.end }}">{{ event.end|myTimeFormat }}</td>
                                <td data-order="{{ event.end|date:'Y-m-d\TH:i:s' }}">{{ event.end|myDateFormat }}</td>
                                <td><a href="/userProfile/{{ event.user.id }}/" class="hover:text-green-500">{{ event.user.first_name }} {{ event.user.last_name }}</a></td>
                                {% if event.intervalTime %}
                                    <td data-order="{{ event.intervalTime }}">{{ event.intervalTime }} minut</td>
                                {% else %}
                                    <td data-order="0"></td>
                                {% endif %}
                                {% comment %}<td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>{% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </body>
    <script>
        console.log("DZIALA")
        function goToEventInCalendar(eventId, eventStart, e){
            console.log("Go to event")
            let url = '/?id='+eventId+'&date='+eventStart;
            window.location.href = url;
        };
        let availableBookingDateTable, reservationTable;
        $(document).ready(function() {
            $('#availableBookingDateTableXD thead tr')
           .clone(true)
           .addClass('filters')
           .appendTo('#availableBookingDateTableXD thead');

            availableBookingDateTable = new DataTable('#availableBookingDateTableXD', {
                tableId: 'availableBookingDateTable',
                paging: true, //stronicowanie
                pageLength: 10,
                lengthChange: true, //change number of elements in page
                lengthMenu: [[10, 20, 25, 50, 100, -1], [10, 20, 25, 50, 100, 'Wszystkie']],
                autoWidth: true,
                searching: true,
                bInfo: true, //info about number of elements in page
                bSort: true,
                orderCellsTop: true,

                //fixedHeader: true,
                responsive: true,

                dom: 'ltip',
                //order: [[4, 'asc']],
                columnDefs: [
                    { type: 'moment', targets: [0, 3] },
                    { type: 'num', targets: [5] },
                    { targets: [1, 2], orderable: false },
                ],
                language: {
                    lengthMenu: "Pokaż _MENU_ wydarzeń",
                    search: "Wyszukiwarka: ",
                    paginate: {
                        previous: "Poprzednia ",
                        next: "Następna"
                    },
                    info: "Pokazuje _START_ do _END_ z _TOTAL_",
                    infoFiltered: " (wyfiltrowano z _MAX_ wszystkich rekordów)",
                    zeroRecords: "Brak pasującyh dostępnych terminów.",
                    infoEmpty: "Nie znaleziono żadny pasującyh dostępnych terminów.",
                },
            });
        });
    </script>
{% endblock %}