<script>
    let csrf_token = "{{ csrf_token }}";
    let screenWidth = window.innerWidth;
    let currentUserId;
    let currentUserRole = "{{ userRole }}";
    let selectedBookingDateId;
    let selectedEventInfo;
    let calendar;
    let polishDaysOfWeek = ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"];
    let polishMonths = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"];
    let availableBookingData;
    let dragEventData;
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone: 'Europe/Warsaw',
            headerToolbar: {
                {#left: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay',#}
                left: 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                right: 'prev,today,next'
            },
            buttonText: {
                today: 'dzisiaj',
                month:    'miesiąc',
                week:     'tydzień',
                day:      'dzisiaj',
            },
            footerToolbar: {
                start: '',
                center: '',
                end: 'prev,next'
            },
            slotLabelFormat: {hour: 'numeric', minute: '2-digit', hour12: false},
            eventSources: [
                '/allAvailableBookingDates',
                '/allUnconfirmedReservations',
                '/allConfirmedReservations',
                '/allReservationsWithoutServiceProvider',
            ],
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },

            firstDay: 1,
            selectable: true,
            editable: true,
            {#contentHeight: 1500,#}

            height: '100%',

            {#aspectRatio: 2.5,#}

            expandRows: true,
            allDayText: 'czas',
            eventContent: function(arg) {
                return getEventTitle(arg);
            },
            views: {
                dayGridMonth: {
                    titleFormat: myMonthTitleFormat,
                    displayEventEnd: true,
                    dayHeaderContent: myMonthdayHeaderContent,
                    {% comment %}eventContent: function(arg) {
                        return getEventTitle(arg);
                    },{% endcomment %}
                },
                timeGridWeek:{
                    titleFormat: myWeekTitleFormat,
                    dayHeaderContent: myWeekdayHeaderContent,
                },
                timeGridDay:{
                    titleFormat: myDayTitleFormat,
                    dayHeaderContent: myDaydayHeaderContent,
                },
            },
            {#dodawanie dostepnych terminow#}
            select: function (data){
                if ("{{ request.user }}" === 'AnonymousUser') { return; }
                let modalName = ""
                if (currentUserRole !== "client")
                {
                    console.log("Wykonalo sie dodanie dostepnego terminu")
                    modalName = "addAvailableBookingDateByCalendarModal"
                } else {
                    console.log("Dodaj propozycje rezerwacji")
                    modalName = "addDesiredReservationDateByCalendarModal"
                }
                let selectedView = calendar.view.type;
                const startDateTime = new Date(data.startStr)
                let startDateOnly = startDateTime.toISOString().split('T')[0];
                let startTimeOnly = startDateTime.toLocaleTimeString().slice(0, 5);
                const endDateTime = new Date(data.endStr)
                if (selectedView === 'dayGridMonth') { endDateTime.setDate(endDateTime.getDate() - 1) }
                let endDateOnly = endDateTime.toISOString().split('T')[0];
                let endTimeOnly = endDateTime.toLocaleTimeString().slice(0, 5);
                if (selectedView !== 'dayGridMonth'){
                    console.log("OK")
                    {#dotyczy widoku kalendarza widoku tygodniowego/dniowego gdzie uzupelnia od razu godzine startu i konca#}
                    $('#'+modalName+' [name="startTime"]').val(startTimeOnly);
                    $('#'+modalName+' [name="endTime"]').val(endTimeOnly);
                } else {
                    {#$('#addAvailableBookingDateByCalendarModal [name="startTime"]').val('12:00');#}
                    {#$('#addAvailableBookingDateByCalendarModal [name="endTime"]').val('23:00');#}
                }
                $('#startDate'+modalName).val(startDateOnly);
                $('#endDate'+modalName).val(endDateOnly);
                openModal(modalName)
            },
            {#edycja/usuwanie dostepnych terminow#}
            eventClick: function (info) {
                if ("{{ request.user }}" === 'AnonymousUser') { return; }
                currentUserId = {{ request.user.id }}
                console.log("WYKONALO SIE klikniecie eventu");
                let serviceProviderId = info.event.extendedProps.serviceProviderId;
                let clientId = info.event.extendedProps.clientId;
                let eventType = info.event.extendedProps.eventType;
                let intervalTimeInt = info.event.extendedProps.intervalTimeInt;

                availableBookingData = fillAvailableBookingData(info)
                selectedBookingDateId = info.event.id
                selectedEventInfo = info

                if (eventType === 0 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")){ //edycja/usuwanie dostępnego terminu
                    $('#deleteSelectedEvent').val(selectedBookingDateId)
                    $('#editSelectedEvent').val(selectedBookingDateId)
                    openModal('changeOptionsAvailableBookingDateModal', availableBookingData);
                }else if (eventType === 0 && currentUserRole === "client" && !intervalTimeInt) { //proba rezerwacji prze klienta jesli nie ma interwalow w spotkaniu
                    console.log("Wybrano opcje nie ok", intervalTimeInt)
                    // calosc
                    $('#reserveEntireSelectedBookingDateId').val(selectedBookingDateId)
                    $('#reserveEntireSelectedBookingDateStart').val(info.event.start.toISOString())
                    $('#reserveEntireSelectedBookingDateEnd').val(info.event.end.toISOString())
                    // czesc
                    $('#reservePartSingleDaySelectedBookingDateId').val(selectedBookingDateId)
                    $('#reservePartMultipleDaysSelectedBookingDateId').val(selectedBookingDateId)
                    openModal('reservationOptionsModal', availableBookingData);
                } else if (eventType === 0 && currentUserRole === "client" && intervalTimeInt){ //proba rezerwacji prze klienta jesli sa interwaly w spotkaniu
                    // dotepny termin z przedzialami
                    console.log("Wybrano opcje OKKKKKKK")
                    $('#reserveIntervalOfBookingDateId').val(selectedBookingDateId)
                    openModal('reserveIntervalOfBookingDateModal', availableBookingData);
                } else if (eventType === 1 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { //potwierdzenie rezerwacji
                    $('#confirmOrRejectReservationId').val(info.event.id)
                    openModal('confirmOrRejectReservationModal', availableBookingData)
                } else if (eventType === 1 && (serviceProviderId === currentUserId || clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { //usuwanie niepotwierdzonej rezerwacji
                    console.log("USUN niepotwierdzona rezerwacje")
                    let reservationTextQuestion = document.getElementById('questiondeleteReservationModal')
                    reservationTextQuestion.textContent = 'Czy na pewno chcesz usunąć tą propozycje rezerwacji?'
                    $('#deleteReservationId').val(selectedBookingDateId)
                    openModal('deleteReservationModal')
                } else if (eventType === 2 && (serviceProviderId === currentUserId || clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { //usuwanie potwierdzonej rezerwacji
                    console.log("USUN potwierdzona rezerwacje")
                    let reservationTextQuestion = document.getElementById('questiondeleteReservationModal')
                    reservationTextQuestion.textContent = 'Czy na pewno chcesz usunąć tą zatwierdzoną rezerwację?'
                    $('#deleteReservationId').val(selectedBookingDateId)
                    openModal('deleteReservationModal')
                } else if (eventType === 3 && (currentUserRole !== "client")) { // potwierdzenie propozycji terminu klienta przez nowego uslugodawce
                    console.log("Można zaakceptować propozycje rezerwacji terminu klienta")
                    $('#confirmDesiredReservationPropositionId').val(selectedBookingDateId)
                    openModal('confirmDesiredReservationPropositionModal', availableBookingData)
                } else if (eventType == 3 && (clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { // edycja/usuwanie propozycji terminu klienta
                    console.log("EDYTUJ LUB USUN SWOJA PROPOZYCJE")
                    $('#deleteSelectedDesiredReservationDate').val(selectedBookingDateId)
                    $('#editSelectedDesiredReservationDate').val(selectedBookingDateId)
                    openModal('changeOptionsDesiredReservationDateModal', availableBookingData);
                } else{
                    console.log("Nie masz uprawnien, zeby to zrobic")
                }
                console.log(currentUserRole);
            },
            eventDrop: function (info) {
                if ("{{ request.user }}" === 'AnonymousUser') { return; }
                currentUserId = {{ request.user.id }}
                console.log("Przeciągnieto event: ", info)
                let serviceProviderId = info.event.extendedProps.serviceProviderId;
                let eventType = info.event.extendedProps.eventType;
                let clientId = info.event.extendedProps.clientId;
                availableBookingData = fillAvailableBookingData(info)
                selectedBookingDateId = info.event.id
                selectedEventInfo = info
                let oldDate = new Date(info.oldEvent.start.setMinutes(info.oldEvent.start.getMinutes() + info.oldEvent.start.getTimezoneOffset()));
                let oldString = `${oldDate.getDate()}/${oldDate.getMonth()+1}/${oldDate.getFullYear()} ${oldDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`
                let startDate = new Date(info.event.start.setMinutes(info.event.start.getMinutes() + info.event.start.getTimezoneOffset()));
                let startString = `${startDate.getDate()}/${startDate.getMonth()+1}/${startDate.getFullYear()} ${startDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`
                let endDate = new Date(info.event.end.setMinutes(info.event.end.getMinutes() + info.event.end.getTimezoneOffset()));
                let endString = `${endDate.getDate()}/${endDate.getMonth()+1}/${endDate.getFullYear()} ${endDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`
                if ((eventType === 0 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) || (eventType === 3 && (clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller"))){ //edycja/usuwanie dostępnego terminu
                    dragEventData = {
                        'selectedDragEventId': info.event.id,
                        'newStart': startString,
                        'newEnd': endString,
                        'eventType': eventType,
                    }
                    openModalFillDateTimeData('confirmOrRejectDragModal', data = {startAvailableBookingDate: info.oldEvent.start, endAvailableBookingDate: info.oldEvent.end}, 'oldDateRangeconfirmOrRejectDragModal')
                    openModal('confirmOrRejectDragModal', availableBookingData)
                }
            },
        });
        calendar.render();
    });
    function fillAvailableBookingData(info) {
        let serviceProviderId = info.event.extendedProps.serviceProviderId;
        let serviceProviderNameAndSurname = info.event.extendedProps.serviceProviderNameAndSurname;
        let clientId = info.event.extendedProps.clientId;
        let clientNameAndSurname = info.event.extendedProps.clientNameAndSurname;
        let eventType = info.event.extendedProps.eventType;
        let intervalTimeInt = info.event.extendedProps.intervalTimeInt;
        let intervalTimeString = info.event.extendedProps.intervalTimeString;
        let breakBetweenIntervals = info.event.extendedProps.breakBetweenIntervals;
        availableBookingData = {
            serviceProviderNameAndSurname: serviceProviderNameAndSurname,
            serviceProviderId: serviceProviderId,
            startAvailableBookingDate: info.event.start,
            endAvailableBookingDate: info.event.end,
            clientNameAndSurname: clientNameAndSurname,
            clientId: clientId,
            intervalTimeInt: intervalTimeInt,
            intervalTimeString: intervalTimeString,
            breakBetweenIntervals: breakBetweenIntervals
        };
        return availableBookingData;
    };
    function getEventTitle(arg) {
        const start = getDateDetails(arg.event.start, '.', 'YMD')
        const end = getDateDetails(arg.event.end, '.', 'YMD')
        let title = '';
        if (start.dateWithoutTime === end.dateWithoutTime) { title += `<div class="fc-title">${start.time} - ${end.time}</div>`}
        if (start.dateWithoutTime !== end.dateWithoutTime) { title += `<div class="fc-title">Od: ${start.dateWithoutTime} ${start.dayOfTheWeek} ${start.time}</div><div class="fc-title">Do: ${end.dateWithoutTime} ${end.dayOfTheWeek} ${end.time}</div>`}
        {#if (arg.event.extendedProps.serviceProviderId != -1) {title += `<div class="fc-title">${arg.event.extendedProps.serviceProviderNameAndSurname}</div>`}#}
        if (arg.event.extendedProps.serviceProviderId != -1) {title += `<div class="fc-title"><a href="/userProfile/${arg.event.extendedProps.serviceProviderId}/">${arg.event.extendedProps.serviceProviderNameAndSurname}</a></div>`}
        {#if (arg.event.extendedProps.clientId != -1) {title += `<div class="fc-title">${arg.event.extendedProps.clientNameAndSurname}</div>`}#}
        if (arg.event.extendedProps.clientId != -1) {title += `<div class="fc-title"><a href="/userProfile/${arg.event.extendedProps.clientId}/">${arg.event.extendedProps.clientNameAndSurname}</a></div>`}
        if (arg.event.extendedProps.intervalTimeInt) {title += `<div class="fc-title">Czas wizyty: ${arg.event.extendedProps.intervalTimeString}</div>`}
        return { html: title}
    };
    function filter() {
        console.log("DZIALA")
        var selectedOptions = $('#selectServiceProviders').val();
        console.log("Selected Options:", selectedOptions);
        $.ajax({
            type: 'POST',
            url: '/filterServiceProviders/',
            headers: {
                'X-CSRFToken': csrf_token
            },
            data: {
                'selectedOptions': JSON.stringify(selectedOptions)
            },
            success: function(response) {
                console.log(response);
                if ('error' in response) {
                    console.error("Error:", response.error)
                } else {
                    calendar.getEventSources().forEach(function(source) {
                        source.remove();
                    });
                    calendar.addEventSource(response.availableDates);
                    calendar.addEventSource(response.unconfirmedReservations);
                    calendar.addEventSource(response.confirmedReservations);
                    calendar.addEventSource(response.reservationsWithoutServiceProvider);
                }
            },
            error: function(error) {
                console.error("Error:", error.responseText);
            }
        });
    };
    function getDateDetails(date, dateSeparator = '-' , dateOrder = 'YMD'){
        //console.log("Data =", date)
        let time = date.toISOString().split('T')[1].slice(0, 5);
        const dateWithoutTimeZone = new Date(date.setMinutes(date.getMinutes() + date.getTimezoneOffset()))
        const day = dateWithoutTimeZone.getDate();
        const month = dateWithoutTimeZone.getMonth();
        const year = dateWithoutTimeZone.getFullYear();
        const dayOfTheWeek = polishDaysOfWeek[dateWithoutTimeZone.getDay()];
        const namedMonth = polishMonths[dateWithoutTimeZone.getMonth()];
        let dateWithoutTime = dateWithoutTimeZone.toISOString().split('T')[0];
        if (dateSeparator !== '-' || dateOrder !== 'YMD'){
            if (dateOrder === 'YMD'){
                dateWithoutTime = year + dateSeparator + month + dateSeparator + day;
            }
            if (dateOrder === 'DMY'){
                dateWithoutTime = day + dateSeparator + month + dateSeparator + year;
            }
        }
        return {dateWithoutTime, time, day, month, year, dayOfTheWeek, namedMonth};
    };
    function myMonthTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        const end = getDateDetails(endDate, '.', 'YMD')
        return start.namedMonth + " " + start.year
    };
    function myWeekTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        const end = getDateDetails(endDate, '.', 'YMD')
        return start.day + " " + start.namedMonth + " " + start.year + " - " + end.day + " " + end.namedMonth + " " + end.year
    };
    function myDayTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        const end = getDateDetails(endDate, '.', 'YMD')
        return start.day + " " + start.namedMonth + " " + start.year
    };
    function myMonthdayHeaderContent(date){
        return polishDaysOfWeek[date.date.getDay()];
    };
    function myWeekdayHeaderContent(date){
        return polishDaysOfWeek[date.date.getDay()]  + " " + date.date.getDate();
    };
    function myDaydayHeaderContent(date){
        {#return polishDaysOfWeek[date.date.getDay()]  + ", " + date.date.getDate() + " " + polishMonths[date.date.getMonth()] + " " + date.date.getFullYear();#}
        return polishDaysOfWeek[date.date.getDay()];
    };

    function passDataByAJAX(url, data) {
        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': csrf_token
            },
            data: data,
            success: function(response) {
                console.log("POWINNO DZIALAC")
            },
            error: function (response) {
                console.log("Cos poszło nie tak")
            }
        });
    };
    function fillCurrentTime(containerValue, inputValue) {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const currentTime =  hours + ':' + minutes;
        $('#' + containerValue + ' .' + inputValue).val(currentTime);
    };
    function compareTime(time1, time2) {
        // Compare two time values in the format 'HH:mm'
        const [hours1, minutes1] = time1.split(':').map(Number);
        const [hours2, minutes2] = time2.split(':').map(Number);
        if (hours1 !== hours2) {
            return hours1 - hours2;
        }
        return minutes1 - minutes2;
    };
    function compareDate(date1, date2) {
        return date1.localeCompare(date2);
    }
    const setError = (element, message) => {
        console.log("Ser error work")
        const inputControl = element.parentElement.parentElement.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = message;
        inputControl.classList.add('error');
        inputControl.classList.remove('success');
    };
    const setSuccess = element => {
        const inputControl = element.parentElement.parentElement.parentElement;
        const errorDisplay = inputControl.querySelector('.error');
        errorDisplay.innerText = "";
        inputControl.classList.add('success');
        inputControl.classList.remove('error');
    };
    function checkIfStartPlusIntervalsEqualEnd(startDateValue, startTimeValue, endDateValue, endTimeValue, interval, breakBetweenIntervals) {
        //console.log("DANE CHECK =", startDateValue, startTimeValue, endDateValue, endTimeValue, interval, breakBetweenIntervals)
        if (typeof interval == undefined || interval == "" || interval === null || interval === 0 || interval === '0') { return true }
        let breakBetweenIntervalsValue = 0;
        if ( breakBetweenIntervals ) {
            breakBetweenIntervalsValue = parseInt(breakBetweenIntervals, 10)
        }
        const intervalTimeValue = parseInt(interval, 10);
        const totalMinutes = (intervalTimeValue + breakBetweenIntervalsValue);
        let validationCondition = false;
        let startDateHelp = new Date(startDateValue + ' ' + startTimeValue)
        let endDateHelp = new Date(endDateValue + ' ' + endTimeValue)
        //console.log(startDateValue, startTimeValue, startDateHelp, totalMinutes)
        while (startDateHelp < endDateHelp) {
            startDateHelp.setMinutes(startDateHelp.getMinutes() + totalMinutes);
            if (startDateHelp.getTime() === endDateHelp.getTime()) {
                //console.log("ROWNA SIE", startDateHelp, endDateHelp)
                validationCondition = true
            }
        }
        return validationCondition
    };
    {#Skrypt odpowiadajacy za walidacje czasow w dodawaniu wolnego terminu przez kalendarz#}
    const formaddAvailableBookingDateByCalendar = document.getElementById('addAvailableBookingDateByCalendarForm')
    formaddAvailableBookingDateByCalendar.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja add calendar")
        validationModalForm('addAvailableBookingDateByCalendarModal', e, false)
    });
    {#Skrypt odpowiadajacy za walidacje dat i czasow w w dodawaniu wolnego terminu przez przycisk#}
    const formaddAvailableBookingDateModal = document.getElementById('addAvailableBookingDateForm')
    formaddAvailableBookingDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja addBtn")
        validationModalForm('addAvailableBookingDateModal', e, false)
    });
    {#Skrypt odpowiadajacy za walidacje dat i czasow w w edytowaniu wolnego terminu#}
    const formeditAvailableBookingDateModal = document.getElementById('editAvailableBookingDateForm')
    formeditAvailableBookingDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja edit")
        validationModalForm('editAvailableBookingDateModal', e, false)
    });
    {#Skrypt odpowiadajacy za walidacje czasow i dat przy rezerwacji terminu skladajacego sie z kilku dni#}
    const formreservePartMultipleDaysBookingDateModal = document.getElementById('reservePartMultipleDaysBookingDateForm')
    formreservePartMultipleDaysBookingDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja wiely dni reservePartMultipleDaysBookingDateModal")
        validationModalForm('reservePartMultipleDaysBookingDateModal', e, true)
    });
    {#Skrypt odpowiadajacy za walidacje czasow przy rezerwacji terminu skladajacego sie z pojedynczego dnia#}
    const formreservePartSingleDayBookingDateModal = document.getElementById('reservePartSingleDayBookingDateForm')
    formreservePartSingleDayBookingDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja reservePartSingleDayBookingDateModal")
        validationModalForm('reservePartSingleDayBookingDateModal', e, true)
    });
    {#Skrypt odpowiadajacy za walidacje czasow przy proponowaniu terminu przez kalendarz#}
    const formaddDesiredReservationDateByCalendarModal = document.getElementById('addDesiredReservationDateByCalendarForm')
    formaddDesiredReservationDateByCalendarModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja addDesiredReservationDateByCalendarModal")
        validationModalForm('addDesiredReservationDateByCalendarModal', e, false)
    });
    {#Skrypt odpowiadajacy za walidacje czasow przy proponowaniu terminu przez kalendarz#}
    const formaddDesiredReservationDateModal = document.getElementById('addDesiredReservationDateForm')
    formaddDesiredReservationDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja addDesiredReservationDateModal")
        validationModalForm('addDesiredReservationDateModal', e, false)
    });
    {#Skrypt odpowiadajacy za walidacje czasow przy proponowaniu terminu przez kalendarz#}
    const formeditDesiredReservationDateModal = document.getElementById('editDesiredReservationDateForm')
    formeditDesiredReservationDateModal.addEventListener('submit', (e) => {
        console.log("Wykonala sie walidacja editDesiredReservationDate")
        validationModalForm('editDesiredReservationDateModal', e, false)
    });
    function validationModalForm(modalId, e, reservationValidation) {
        const startTimeElement = document.getElementById('startTime'+modalId)
        const endTimeElement = document.getElementById('endTime'+modalId)
        const startDateElement = document.getElementById('startDate'+modalId)
        const endDateElement = document.getElementById('endDate'+modalId)
        const intervalTimeElement = document.getElementById('intervalTime'+modalId)
        const breakBetweenIntervalsElement = document.getElementById('breakBetweenIntervals'+modalId)
        const startTimeValue = startTimeElement.value;
        const endTimeValue = endTimeElement.value;
        let startDateValue = null;
        if (startDateElement) { startDateValue = startDateElement.value; }
        let endDateValue = null;
        if (endDateElement) { endDateValue = endDateElement.value; }
        let intervalTimeValue = null;
        if (intervalTimeElement) { intervalTimeValue = intervalTimeElement.value; }
        let breakBetweenIntervalsValue = null;
        if (breakBetweenIntervalsElement) { breakBetweenIntervalsValue = breakBetweenIntervalsElement.value; }
        console.log("DANE VALIDACI: ", startTimeValue, endTimeValue, startDateValue, endDateValue, intervalTimeValue, breakBetweenIntervalsValue)
        let availableBookingStartTimeString;
        let availableBookingEndTimeString;
        if (reservationValidation) {
            availableBookingStartTimeString = availableBookingData.startAvailableBookingDate.getHours() + ':' + availableBookingData.startAvailableBookingDate.getMinutes();
            availableBookingEndTimeString = availableBookingData.endAvailableBookingDate.getHours() + ':' + availableBookingData.endAvailableBookingDate.getMinutes();
        }
        if( endDateValue && startDateValue){
            if (compareDate(endDateValue, startDateValue) < 0){
                e.preventDefault();
                setError(startDateElement, "Data końcowa nie może być przed datą początku.")
                return;
            } else if (reservationValidation && (compareDate(startDateValue, availableBookingData.startAvailableBookingDate.toISOString().split('T')[0]) < 0 || compareDate(availableBookingData.endAvailableBookingDate.toISOString().split('T')[0], endDateValue) < 0)){
                console.error('Data rezerwacji nie moze przekraczac daty dostepnego terminu');
                e.preventDefault();
                setError(startDateElement, "Data wykracza poza date dotępnego terminu.")
                return;
            } else {
                setSuccess(startDateElement);
            }
            if (compareDate(endDateValue, startDateValue) === 0 && compareTime(endTimeValue, startTimeValue) <= 0) {
                e.preventDefault();
                setError(startTimeElement, "Czas końcowy nie może być przed czasem początku.")
                return;
            } else if (reservationValidation && (compareTime(startTimeValue, availableBookingStartTimeString) < 0 || compareTime(availableBookingEndTimeString, endTimeValue) < 0)){
                console.error('Czas rezerwacji nie moze przekraczac czasu dostepnego terminu');
                e.preventDefault();
                setError(startTimeElement, "Czas wykracza poza czas dotępnego terminu.")
                return;
            } else {
                setSuccess(startTimeElement);
            }
            //sprawdzenie czy start + n interwałów z przerwami = koniec
            if (checkIfStartPlusIntervalsEqualEnd(startDateValue, startTimeValue, endDateValue, endTimeValue, intervalTimeValue, breakBetweenIntervalsValue)) {
                setSuccess(endDateElement);
            } else{
                console.error("Zle przedzialy addCal: ", startDateValue, startTimeValue, endDateValue, endTimeValue, intervalTimeValue, breakBetweenIntervalsValue)
                e.preventDefault();
                setError(endDateElement, "Nieprawidłowy podział czasu.");
                return;
            }
        } else {
            if (compareTime(endTimeValue, startTimeValue) <= 0) {
                console.error('End time cannot be earlier than start time or equal');
                e.preventDefault();
                setError(startTimeReservePartSingleDayBookingDateModal, "Czas końcowy nie może być przed czasem początku.")
            } else if (compareTime(startTimeValue, availableBookingStartTimeString) < 0 || compareTime(availableBookingEndTimeString, endTimeValue) < 0){
                console.error('Czas rezerwacji nie moze przekraczac czasu dostepnego terminu');
                e.preventDefault();
                setError(startTimeReservePartSingleDayBookingDateModal, "Czas wykracza poza czas dotępnego terminu.")
            } else {
                setSuccess(startTimeReservePartSingleDayBookingDateModal);
            }
        }
    };
    {#    Script to add/close new available booking date or used to changeOptions with data then#}
    function openModal(modalId, data) {
        let modal = document.getElementById(modalId);
        console.log("Data = ", data)
        if(data){
            if (data.serviceProviderId !== -1){
                openModalFillServiceProviderData(modal, data, modalId)
            }
            if (data.clientId !== -1) {
                reserveOpenModalFillClientData(modal, data, modalId)
            }
            if (data.intervalTimeInt && data.intervalTimeInt != 0 && modalId !== 'changeOptionsAvailableBookingDateModal') {
                console.log("DOSTALES =", modalId, modal)
                reserveIntervalOpenModalFillIntervalData(modal, data, modalId)
            }
            openModalFillDateTimeData(modalId, data, 'dateRange'+modalId)
        }
        modal.classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
    };
    function openModalFillServiceProviderData(modal, data, modalId){
        let serviceProviderProfileElement = modal.querySelector('#serviceProviderProfileLink'+modalId);
        serviceProviderProfileElement.href = "/userProfile/"+data.serviceProviderId+"/";
        let serviceProviderNameAndSurnameElement = modal.querySelector('#serviceProviderNameAndSurname');
        serviceProviderNameAndSurnameElement.textContent = "Usługodawca: " + data.serviceProviderNameAndSurname;
    }
    function openModalFillDateTimeData(modalId, data, elementName){
        let modal = document.getElementById(modalId);
        let startDate = data.startAvailableBookingDate;
        let endDate = data.endAvailableBookingDate;
        {#uwzglednienie strefy czasowej#}
        startDate.setMinutes(startDate.getMinutes() + startDate.getTimezoneOffset())
        endDate.setMinutes(endDate.getMinutes() + endDate.getTimezoneOffset())
        {#let startDateString = data.startAvailableBookingDate.toISOString().split('T')[0];#}
        let startDayOfTheWeek = polishDaysOfWeek[startDate.getDay()]
        let startDateString = startDate.getDate() + " " + polishMonths[startDate.getMonth()]
        let startTimeString = startDate.getMinutes() < 10 ? startDate.getHours() + ":0" + startDate.getMinutes() : startDate.getHours() + ":" + startDate.getMinutes();
        let endDateString = endDate.getDate() + " " + polishMonths[endDate.getMonth()]
        let endTimeString = endDate.getMinutes() < 10 ? endDate.getHours() + ":0" + endDate.getMinutes() : endDate.getHours() + ":" + endDate.getMinutes();
        console.log("Modal id = " ,modalId)
        let dateRangeElement = modal.querySelector('#'+elementName);
        if (startDate.getDate() === endDate.getDate()){
            dateRangeElement.textContent = startDayOfTheWeek + ", " + startDateString + " " + startTimeString + " - " + endTimeString
        }else{
            dateRangeElement.textContent = startDateString + " " + startTimeString + " - " + endDateString + " " + endTimeString
        }
    };
    function reserveOpenModalFillClientData(modal, data, modalId) {
        let clientProfileElement = modal.querySelector('#clientProfileLink'+modalId);
        clientProfileElement.href = "/userProfile/"+data.clientId+"/";
        let clientNameAndSurnameElement = modal.querySelector('#clientNameAndSurname');
        clientNameAndSurnameElement.textContent = "Usługobiorca: " + data.clientNameAndSurname
    };
    // dotyczy reserveIntervalOfBookingDateModal
    function reserveIntervalOpenModalFillIntervalData(modal, data, modalId) {
        console.log("dane =", modalId, data)
        let intervalTimeElement = modal.querySelector('#intervalTime'+modalId);
        console.log("IntervalTimeElement =", intervalTimeElement)
        intervalTimeElement.textContent = "Czas wiztyty: " + data.intervalTimeString;
        let selectElement = modal.querySelector('#availableIntervalTimes'+modalId);
        selectElement.innerHTML = '<option value="" selected="">Dostępne terminy</option>';

        // Generate options based on available terms
        let startDateTerms = new Date(data.startAvailableBookingDate.setMinutes(data.startAvailableBookingDate.getMinutes() + data.startAvailableBookingDate.getTimezoneOffset()));
        let endDateTerms  = new Date(data.endAvailableBookingDate.setMinutes(data.endAvailableBookingDate.getMinutes() + data.endAvailableBookingDate.getTimezoneOffset()));
        let intervalTime = data.intervalTimeInt;
        let breakBetweenIntervals = data.breakBetweenIntervals

        while (startDateTerms < endDateTerms ) {
            let option = document.createElement('option');
            {#let startTimeStringValue = startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' });#}
            {#let startDateStringValue = startDateTerms.toISOString().split('T')[0];#}
            option.value = `${startDateTerms.getDate()}/${startDateTerms.getMonth()+1}/${startDateTerms.getFullYear()} ${startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`;
            option.text = `${startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}   ${polishDaysOfWeek[startDateTerms.getDay()]}, ${startDateTerms.getDate()} ${polishMonths[startDateTerms.getMonth()]}`
            if (startDateTerms.getMinutes() + intervalTime + breakBetweenIntervals < endDateTerms) {
                selectElement.appendChild(option);
            }
            // Increment the startDate by the intervalTime minutes
            startDateTerms.setMinutes(startDateTerms.getMinutes() + intervalTime + breakBetweenIntervals);
        }
    };
    function closeModal(modalId) {
        let modal = document.getElementById(modalId);
        modal.classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
    };
    function dragEventConfirmOrReject(modalId, confirm) {
        closeModal(modalId)
        if(confirm) {
            console.log("Potwierdzono")
            passDataByAJAX('/dragEvent/', dragEventData)
        } else {
            selectedEventInfo.revert()
            console.log("Tu powinno przywrocic pozycje eventu")
        }
    };
    function editAvailableBookingDate() {
        openCloseModalAndFillInputsWithData('editAvailableBookingDateModal', 'changeOptionsAvailableBookingDateModal', true)
    };
    function editDesiredReservationDate() {
        openCloseModalAndFillInputsWithData('editDesiredReservationDateModal', 'changeOptionsDesiredReservationDateModal', false)
    };
    function openReservePartBookingDateModal() {
        if (availableBookingData.startAvailableBookingDate.getDate() === availableBookingData.endAvailableBookingDate.getDate()) {
            openCloseModalAndFillInputsWithData('reservePartSingleDayBookingDateModal', 'reservationOptionsModal', false)
        } else {
            openCloseModalAndFillInputsWithData('reservePartMultipleDaysBookingDateModal', 'reservationOptionsModal', false)
        }
    };
    function openCloseModalAndFillInputsWithData(openModalId, closeModalId, intervalsToo) {
        closeModal(closeModalId);
        $('#'+openModalId+' [name="title"]').val(selectedEventInfo.event.title);
        let startDate = selectedEventInfo.event.start.toISOString().split('T')[0];
        let startTime = selectedEventInfo.event.start.toISOString().split('T')[1].slice(0, 5);
        let endDate = selectedEventInfo.event.end.toISOString().split('T')[0];
        let endTime = selectedEventInfo.event.end.toISOString().split('T')[1].slice(0, 5);
        console.log(startDate, startTime, endDate, endTime)
        $('#'+openModalId+' [name="startDate"]').val(startDate);
        $('#'+openModalId+' [name="startTime"]').val(startTime);
        $('#'+openModalId+' [name="endDate"]').val(endDate);
        $('#'+openModalId+' [name="endTime"]').val(endTime);
        if (intervalsToo) {
            $('#'+openModalId+' [name="intervalTime"]').val(selectedEventInfo.event.extendedProps.intervalTimeInt);
            $('#'+openModalId+' [name="breakBetweenIntervals"]').val(selectedEventInfo.event.extendedProps.breakBetweenIntervals);
            console.log("ISTNIEJE =", selectedEventInfo.event.extendedProps.intervalTimeInt, selectedEventInfo.event.extendedProps.breakBetweenIntervals)
        }
        openModal(openModalId)
    }
    function openDeleteAvailableBookingDateModal() {
        closeModal('changeOptionsAvailableBookingDateModal');
        openModal('deleteAvailableBookingDateModal');
    };
    function openDeleteDesiredReservationDateModal() {
        closeModal('changeOptionsDesiredReservationDateModal');
        openModal('deleteDesiredReservationDateModal');
    };
</script>