<script>
    let csrf_token = "{{ csrf_token }}";
    let screenWidth = window.innerWidth;
    let currentUserId;
    let currentUserRole = "{{ userRole }}";
    let selectedEventId;
    let selectedEventInfo;
    let calendar;
    let polishDaysOfWeek = ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"];
    let polishMonths = ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"];
    let dragEventData;
    let eventTypeInt;
    let titleText;
    let buttonText;
    let optionQuestionText;
    let buttonOption1Text;
    let buttonOption2Text;
    let reserveOption;
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone: 'Europe/Warsaw',
            headerToolbar: {
                {#left: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay',#}
                left: 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                right: 'prev,today,next'
            },
            buttonText: {
                today: 'dzisiaj',
                month:    'miesiąc',
                week:     'tydzień',
                day:      'dzisiaj',
            },
            footerToolbar: {
                start: '',
                center: '',
                end: 'prev,next'
            },
            slotLabelFormat: {hour: 'numeric', minute: '2-digit', hour12: false},
            eventSources: [
                '/allAvailableBookingDates',
                '/allUnconfirmedReservations',
                '/allConfirmedReservations',
                '/allReservationsWithoutServiceProvider',
            ],
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },
            firstDay: 1,
            selectable: true,
            editable: true,

            {#contentHeight: 1500,#}
            height: '100%',
            {#aspectRatio: 2.5,#}

            expandRows: true,
            allDayText: 'czas',
            navLinks: true,
            eventContent: function(arg) {
                return getEventTitle(arg);
            },
            views: {
                dayGridMonth: {
                    titleFormat: myMonthTitleFormat,
                    displayEventEnd: true,
                    dayHeaderContent: myMonthdayHeaderContent,
                    {% comment %}eventContent: function(arg) {
                        return getEventTitle(arg);
                    },{% endcomment %}
                    //dayMaxEventRows: 6,
                    dayMaxEvents: 6,
                    moreLinkClick: "day",
                    //moreLinkClick: function(arg) { console.log("Wywolalo sie = ", arg); eventWillUnmount() },
                    //dayPopoverFormat: myDayTitleFormat,
                },
                timeGridWeek:{
                    titleFormat: myWeekTitleFormat,
                    dayHeaderContent: myWeekdayHeaderContent,
                },
                timeGridDay:{
                    titleFormat: myDayTitleFormat,
                    dayHeaderContent: myDaydayHeaderContent,
                },
            },
            select: function(data){
                eventSelect(data);
            },
            eventClick: function(info) {
                eventClick(info);
            },
            eventMouseEnter: function(info) {
                eventMouseEnter(info);
            },
            eventDidMount: function(info) {
                eventDidMount(info)
            },
            eventWillUnmount: function(info) {
                eventWillUnmount(info)
            },
            eventDrop: function(info) {
                eventDrop(info);
            },
        });
        calendar.render();
        //let refetchInterval = setInterval(function() { calendar.refetchEvents(); console.log("regular refetch events of every 60 seconds");}, 60000);
        doActionsFromUrl()
    });
    function doActionsFromUrl(){
        let eventId = getUrlParameter('id');
        let notificationId = getUrlParameter('notificationId');
        if(eventId){
            setTimeout(function () {
                console.error("Dostal = ", eventId, notificationId)
                let event = calendar.getEventById(parseInt(eventId));
                calendar.gotoDate(event.start);
                {#passDataByAJAX('/readNotification/', {'id' : notificationId}, false)#}
                console.error("WYKONALO SIE = ", eventId, notificationId)
            }, 1000);
        }
    };
    function getUrlParameter(sParam) {
        let sPageURL = decodeURIComponent(window.location.search.substring(1)), sURLVariables = sPageURL.split('&'), sParameterName, i;
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    function eventSelect(data) {
        if ("{{ request.user }}" === 'AnonymousUser') { return; }
        let modalId = "AddEditModal"
        selectedEventId = -1
        selectedEventInfo = null
        let selectedView = calendar.view.type;
        const startDateTime = new Date(data.startStr)
        let startDateOnly = startDateTime.toISOString().split('T')[0];
        let startTimeOnly = startDateTime.toLocaleTimeString().slice(0, 5);
        const endDateTime = new Date(data.endStr)
        if (selectedView === 'dayGridMonth') { endDateTime.setDate(endDateTime.getDate() - 1) }
        let endDateOnly = endDateTime.toISOString().split('T')[0];
        let endTimeOnly = endDateTime.toLocaleTimeString().slice(0, 5);
        if (selectedView !== 'dayGridMonth'){
            console.log("OK")
            {#dotyczy widoku kalendarza widoku tygodniowego/dniowego gdzie uzupelnia od razu godzine startu i konca#}
            $('#'+modalId+' [name="startTime"]').val(startTimeOnly);
            $('#'+modalId+' [name="endTime"]').val(endTimeOnly);
        } else {
            {#$('#addAvailableBookingDateByCalendarModal [name="startTime"]').val('12:00');#}
            {#$('#addAvailableBookingDateByCalendarModal [name="endTime"]').val('23:00');#}
        }
        $('#startDate'+modalId).val(startDateOnly);
        $('#endDate'+modalId).val(endDateOnly);

        if (currentUserRole !== "client")
        {
            console.log("Wykonalo sie dodanie dostepnego terminu")
            setTextsInTextVariables({reserveOptionConfirmation: false, eventType: 0, title : 'Dodaj dostępny termin świadczenie usług', mainButton : 'Dodaj dostępny termin'});
            openModalNewVersion(modalId, false, true, true, true)
        } else {
            console.log("Dodaj propozycje rezerwacji")
            setTextsInTextVariables({reserveOptionConfirmation: false, eventType: 3, title : 'Dodaj propozycje nowego terminu', mainButton : 'Dodaj propozycje'});
            openModalNewVersion(modalId, false, false, true, true)
        }
    };
    function eventClick(info) {
        if ("{{ request.user }}" === 'AnonymousUser') { return; }
        currentUserId = {{ request.user.id }};
        let serviceProviderId = info.event.extendedProps.serviceProviderId;
        let clientId = info.event.extendedProps.clientId;
        let eventType = info.event.extendedProps.eventType;
        let intervalTimeInt = info.event.extendedProps.intervalTimeInt;
        selectedEventId = info.event.id
        selectedEventInfo = info
        if (eventType === 0 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")){ //edycja/usuwanie dostępnego terminu
            console.log("EDYCJA START EVENT CLICK")
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 0,
                question: 'Co chcesz zrobić z wybranym dostępnym terminem?',
                buttonOption1: 'Edytuj dostępny termin rezerwacji',
                buttonOption2: 'Usuń dostępny termin rezerwacji'})
            openOptionModal('ChangeOptionsModal')
        }else if (eventType === 0 && currentUserRole === "client" && !intervalTimeInt) { //proba rezerwacji prze klienta jesli nie ma interwalow w spotkaniu
            console.log("Wybrano opcje proba rezerwacji", intervalTimeInt)
            setTextsInTextVariables({
                reserveOptionConfirmation: true,
                eventType: 0,
                question: 'Czy chcesz zaproponować rezerwacje tego terminu?',
                buttonOption1: 'Zarezerwuj cały dostępny termin',
                buttonOption2: 'Zarezerwuj część dostępnego terminu'})
            openOptionModal('ChangeOptionsModal')
        } else if (eventType === 0 && currentUserRole === "client" && intervalTimeInt){ //proba rezerwacji przez klienta jesli sa interwaly w spotkaniu
            // dotepny termin z przedzialami
            console.log("Wybrano opcje rezerwacji interwalu")
            setTextsInTextVariables({
                reserveOptionConfirmation: true,
                eventType: 0,
                question: 'Czy chcesz zaproponować rezerwacje tego terminu?',
                mainButton: 'Zarezerwuj',})
            openModalNewVersion("ReserveIntervalOfBookingDateModal", false, false, true, false)
        } else if (eventType === 1 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { //potwierdzenie rezerwacji
            $('#confirmOrRejectReservationId').val(info.event.id)
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 1,
                question: 'Czy chcesz zatwierdzić rezerwację?',
                buttonOption1: 'Tak, zatwierdź rezerwacje', //Tak, przyjmij
                buttonOption2: 'Nie, usuń rezerwacje'}) //Nie, nie przyjmuj
            openModalNewVersion('ConfirmReservationModal', false, false, true, false)
        } else if (eventType === 1 && (clientId === currentUserId) && !intervalTimeInt) { //edytowanie/usuwanie niepotwierdzonej rezerwacji bez przedzialow
            console.log("Edytuj/USUN niepotwierdzona rezerwacje interval=", intervalTimeInt)
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 1,
                question: 'Co chcesz zrobić z tą rezerwacją?',
                buttonOption1: 'Edytuj termin rezerwacji',
                buttonOption2: 'Usuń rezerwacje'})
            openOptionModal('ChangeOptionsModal')
            {#openModal('deleteReservationModal')#}
        }else if (eventType === 1 && (serviceProviderId === currentUserId || clientId === currentUserId) && intervalTimeInt) { //edytowanie/usuwanie niepotwierdzonej rezerwacji z przedzialami
            console.log("Edytuj/USUN niepotwierdzona rezerwacje interval=", intervalTimeInt)
            setTextsInTextVariables({
                reserveOptionConfirmation: true,
                eventType: 1,
                question: 'Co chcesz zrobić z tą rezerwacją?',
                buttonOption1: 'Zmień termin rezerwacji',
                buttonOption2: 'Usuń rezerwacje'})
            openOptionModal('ChangeOptionsModal')
        } else if (eventType === 2 && (serviceProviderId === currentUserId || clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { //usuwanie potwierdzonej rezerwacji
            console.log("USUN potwierdzona rezerwacje")
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 2,
                question: 'Czy napewno chcesz usunąć tą potwierdzoną rezerwacje?',
                buttonOption1: 'Tak, usuń rezerwacje',
                buttonOption2: 'Anuluj'})
            openModalNewVersion('DeleteModal', false, false, true, false)
        }  else if (eventType === 3 && (currentUserRole === "serviceProvider")) { // potwierdzenie propozycji terminu klienta przez uslugodawce
            console.log("Można zaakceptować propozycje rezerwacji terminu klienta")
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 3,
                question: 'Czy chcesz przyjąć ten proponowany termin?',
                buttonOption1: 'Tak, przyjmij ten termin', //Tak, przyjmij
                buttonOption2: 'Nie, nie przyjmuj tego terminu'}) //Nie, nie przyjmuj
            openModalNewVersion('ConfirmReservationModal', false, false, true, false)
        } else if (eventType == 3 && (clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")) { // edycja/usuwanie propozycji terminu klienta
            console.log("EDYTUJ LUB USUN SWOJA PROPOZYCJE")
            setTextsInTextVariables({
                reserveOptionConfirmation: false,
                eventType: 3,
                question: 'Co chcesz zrobić z wybranym proponowanym terminem?',
                buttonOption1: 'Edytuj proponowany termin',
                buttonOption2: 'Usuń proponowany termin'})
            openOptionModal('ChangeOptionsModal')
        } else{
            console.log("Nie masz uprawnien, zeby to zrobic")
        }
        console.log(currentUserRole);
    };
    function getTooltipContent(info){
        const start = getDateDetails(info.event.start, '.', 'YMD')
        const end = getDateDetails(info.event.end, '.', 'YMD')
        let tooltipContent = `<div onclick="eventTooltipClicked(${info.event.id})" class="text-left font-semibold mb-1 text-lg whitespace-nowrap p-5 border-2 border-solid rounded-lg dark:bg-slate-500 dark:border-gray-50 bg-slate-200 border-gray-950">`;
        if (info.event.extendedProps.eventType === 0) {tooltipContent += `<div class="text-center font-bold text-xl mb-2">Dostępny termin</div>`;}
        if (info.event.extendedProps.eventType === 1) {tooltipContent += `<div class="text-center font-bold text-xl mb-2">Propozycja rezerwacji</div>`;}
        if (info.event.extendedProps.eventType === 2) {tooltipContent += `<div class="text-center font-bold text-xl mb-2">Potwierdzona rezerwacja</div>`;}
        if (info.event.extendedProps.eventType === 3) {tooltipContent += `<div class="text-center font-bold text-xl mb-2">Propozycja terminu</div>`;}
        tooltipContent += `${info.event.extendedProps.serviceProviderId !== -1 ? `<div><a href="/userProfile/${info.event.extendedProps.serviceProviderId}/" class="hover:text-green-500">Usługodawca: ${info.event.extendedProps.serviceProviderNameAndSurname}</a></div>` : ''}`;
        tooltipContent += `${info.event.extendedProps.clientId !== -1 ? `<div><a href="/userProfile/${info.event.extendedProps.clientId}/" class="hover:text-orange-400">Usługobiorca: ${info.event.extendedProps.clientNameAndSurname}</a></div>` : ''}`;
        tooltipContent += `<div>Od: ${start.dateWithoutTime} ${start.dayOfTheWeek} ${start.time}</div>`;
        tooltipContent += `<div>Do: ${end.dateWithoutTime} ${end.dayOfTheWeek} ${end.time}</div>`;
        tooltipContent += `${info.event.extendedProps.intervalTimeInt ? `<div>Czas wizyty: ${info.event.extendedProps.intervalTimeString}</div>` : ''}`;
        tooltipContent += `</div>`;
        return tooltipContent
    };
    function eventTooltipClicked(eventId) {
        let event = calendar.getEventById(eventId);
        eventClick({event: event})
    };
    function eventMouseEnter(info) {
        let hoveredEvent = info.event;
        if ("{{ request.user }}" === 'AnonymousUser') { hoveredEvent.setProp('editable', false); return; }
        currentUserId = {{ request.user.id }};
        let serviceProviderId = hoveredEvent.extendedProps.serviceProviderId;
        let clientId = hoveredEvent.extendedProps.clientId;
        let eventType = hoveredEvent.extendedProps.eventType;
        //console.log("SPRAWDZONO KTO TO: ",serviceProviderId, clientId, eventType, currentUserId, currentUserRole)
        if(eventType == 0 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")){ // uslugodawca przesuwa swoj dostepny termin
            hoveredEvent.setProp('editable', true)
        } else if((eventType == 3 || eventType == 1) && (clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller")){ // klient przesuwa swoja propozycje
            hoveredEvent.setProp('editable', true)
        } else {
            hoveredEvent.setProp('editable', false)
        }
    };
    let tooltips = new Map();
    function eventDidMount(info){
        let calendarContainer = document.getElementById('calendar');
        if(!info.isMirror && !tooltips.has(info.event.id)){
            let tooltipContent = getTooltipContent(info)
            let tooltip = new Tooltip(info.el, {
                title: tooltipContent,
                placement: 'top',
                trigger: 'hover',
                container: calendarContainer,
                html: true,
                delay: 500,
            });
            tooltips.set(info.event.id, tooltip);
        }
    };
    function eventWillUnmount(info){
        tooltips.forEach((value, key) => {
            value.dispose();
        });
        tooltips.clear()
    };
    function eventDrop(info) {
        if ("{{ request.user }}" === 'AnonymousUser') { return; }
        currentUserId = {{ request.user.id }}
        console.log("Przeciągnieto event: ", info)
        let serviceProviderId = info.event.extendedProps.serviceProviderId;
        let eventType = info.event.extendedProps.eventType;
        let clientId = info.event.extendedProps.clientId;
        selectedEventId = info.event.id
        selectedEventInfo = info
        let oldDate = new Date(info.oldEvent.start.setMinutes(info.oldEvent.start.getMinutes() + info.oldEvent.start.getTimezoneOffset()));
        let oldString = `${oldDate.getDate()}/${oldDate.getMonth()+1}/${oldDate.getFullYear()} ${oldDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`;
        let startDate = new Date(info.event.start.setMinutes(info.event.start.getMinutes() + info.event.start.getTimezoneOffset()));
        let startString = `${startDate.getDate()}/${startDate.getMonth()+1}/${startDate.getFullYear()} ${startDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`;
        let endDate = new Date(info.event.end.setMinutes(info.event.end.getMinutes() + info.event.end.getTimezoneOffset()));
        let endString = `${endDate.getDate()}/${endDate.getMonth()+1}/${endDate.getFullYear()} ${endDate.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`;
        let minStart = new Date(info.event.extendedProps.availableBookingDateStart);
        let maxEnd = new Date(info.event.extendedProps.availableBookingDateEnd);
        let intervalTimeInt = info.event.extendedProps.intervalTimeInt;
        let intervalTimeValue = 0;
        if ( info.event.extendedProps.intervalTimeInt ) { intervalTimeValue = parseInt(info.event.extendedProps.intervalTimeInt, 10) }
        let breakBetweenIntervalsValue = 0;
        if ( info.event.extendedProps.breakBetweenIntervals ) { breakBetweenIntervalsValue = parseInt(info.event.extendedProps.breakBetweenIntervals, 10) }
        const totalMinutes = (intervalTimeValue + breakBetweenIntervalsValue);
        let validationFailed = true;
        if (eventType === 1 && (startDate < minStart || endDate > maxEnd)){
            console.error("Revert Przekroczono zakres mozliwej daty", info.event.start, minStart)
            console.log(info.event.end, maxEnd)
            info.revert()
            return;
        }
        console.log("Interval =", intervalTimeInt, typeof(intervalTimeInt))
        if (eventType === 1 && (intervalTimeInt)){
            let startDateHelp = new Date(info.event.start.setMinutes(info.event.start.getMinutes() + info.event.start.getTimezoneOffset()));
            while (startDateHelp < maxEnd) {
                startDateHelp.setMinutes(startDateHelp.getMinutes() + totalMinutes);
                if (startDateHelp.getTime() === maxEnd.getTime()) {
                    console.log("Petla", startDateHelp, maxEnd)
                    validationFailed = false;
                    break;
                }
            }
            if(validationFailed){
                console.error("REVERT Probowano przeciagnac poza przedzial", info.event.start, intervalTimeInt)
                info.revert()
                return;
            }
        }
        if ((eventType === 0 && (serviceProviderId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller"))
            || ((eventType === 3 || eventType === 1) && (clientId === currentUserId || currentUserRole === "admin" || currentUserRole === "controller"))){
            dragEventData = {
                'selectedDragEventId': info.event.id,
                'newStart': startString,
                'newEnd': endString,
                'eventType': eventType,
            }
            fillDateRange('ConfirmOrRejectDragModal', data = {startAvailableBookingDate: info.oldEvent.start, endAvailableBookingDate: info.oldEvent.end}, 'oldDateRangeConfirmOrRejectDragModal')
            openModalNewVersion('ConfirmOrRejectDragModal', false, false, true, false)
        }
    };
    function getMainEventData() {
        let info = selectedEventInfo;
        if (info){
            let serviceProviderId = info.event.extendedProps.serviceProviderId;
            let serviceProviderNameAndSurname = info.event.extendedProps.serviceProviderNameAndSurname;
            let clientId = info.event.extendedProps.clientId;
            let clientNameAndSurname = info.event.extendedProps.clientNameAndSurname;
            let intervalTimeInt = info.event.extendedProps.intervalTimeInt;
            let intervalTimeString = info.event.extendedProps.intervalTimeString;
            let breakBetweenIntervals = info.event.extendedProps.breakBetweenIntervals;
            return {
                serviceProviderNameAndSurname: serviceProviderNameAndSurname,
                serviceProviderId: serviceProviderId,
                startAvailableBookingDate: info.event.start,
                endAvailableBookingDate: info.event.end,
                clientNameAndSurname: clientNameAndSurname,
                clientId: clientId,
                intervalTimeInt: intervalTimeInt,
                intervalTimeString: intervalTimeString,
                breakBetweenIntervals: breakBetweenIntervals
            };
        }
    };
    function getEventTitle(arg) {
        return { html: `<div class="fc-title">${arg.event.title}</div>` }
    };
    function filter() {
        console.log("DZIALA")
        let selectedOptions = $('#selectServiceProviders').val();
        console.log("Selected Options:", selectedOptions);
        $.ajax({
            type: 'POST',
            url: '/filterServiceProviders/',
            headers: {
                'X-CSRFToken': csrf_token
            },
            data: {
                'selectedOptions': JSON.stringify(selectedOptions)
            },
            success: function(response) {
                console.log(response);
                if ('error' in response) {
                    console.error("Error:", response.error)
                } else {
                    calendar.getEventSources().forEach(function(source) {
                        source.remove();
                    });
                    calendar.addEventSource(response.availableDates);
                    calendar.addEventSource(response.unconfirmedReservations);
                    calendar.addEventSource(response.confirmedReservations);
                    calendar.addEventSource(response.reservationsWithoutServiceProvider);
                }
            },
            error: function(error) {
                console.error("Error:", error.responseText);
                displayBackendError(error.responseText)
            }
        });
        closeModal('filterModal')
    };
    function getDateDetails(date, dateSeparator = '-' , dateOrder = 'YMD'){
        //console.log("Data =", date)
        let time = date.toISOString().split('T')[1].slice(0, 5);
        const dateWithoutTimeZone = new Date(date.setMinutes(date.getMinutes() + date.getTimezoneOffset()))
        const day = dateWithoutTimeZone.getDate();
        const month = dateWithoutTimeZone.getMonth();
        const year = dateWithoutTimeZone.getFullYear();
        const dayOfTheWeek = polishDaysOfWeek[dateWithoutTimeZone.getDay()];
        const namedMonth = polishMonths[dateWithoutTimeZone.getMonth()];
        let dateWithoutTime = dateWithoutTimeZone.toISOString().split('T')[0];
        if (dateSeparator !== '-' || dateOrder !== 'YMD'){
            if (dateOrder === 'YMD'){
                dateWithoutTime = year + dateSeparator + month + dateSeparator + day;
            }
            if (dateOrder === 'DMY'){
                dateWithoutTime = day + dateSeparator + month + dateSeparator + year;
            }
        }
        return {dateWithoutTime, time, day, month, year, dayOfTheWeek, namedMonth};
    };
    function myMonthTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        const end = getDateDetails(endDate, '.', 'YMD')
        return start.namedMonth + " " + start.year
    };
    function myWeekTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        const end = getDateDetails(endDate, '.', 'YMD')
        return start.day + " " + start.namedMonth + " " + start.year + " - " + end.day + " " + end.namedMonth + " " + end.year
    };
    function myDayTitleFormat(date) {
        const startDate = new Date(date.start.marker);
        //const endDate = new Date(date.end.marker);
        const start = getDateDetails(startDate, '.', 'YMD')
        //const end = getDateDetails(endDate, '.', 'YMD')
        return start.day + " " + start.namedMonth + " " + start.year
    };
    function myMonthdayHeaderContent(date){
        return polishDaysOfWeek[date.date.getDay()];
    };
    function myWeekdayHeaderContent(date){
        return polishDaysOfWeek[date.date.getDay()]  + " " + date.date.getDate();
    };
    function myDaydayHeaderContent(date){
        {#return polishDaysOfWeek[date.date.getDay()]  + ", " + date.date.getDate() + " " + polishMonths[date.date.getMonth()] + " " + date.date.getFullYear();#}
        return polishDaysOfWeek[date.date.getDay()];
    };

    function addByButton(modalId, eventType, titleText, buttonText) {
        setTextsInTextVariables({reserveOptionConfirmation: false, eventType: eventType, title: titleText, mainButton: buttonText})
        selectedEventId = -1
        selectedEventInfo = null
        if (eventType === 0) { openModalNewVersion(modalId, true, true, true, false) }
        if (eventType === 3) { openModalNewVersion(modalId, true, false, true, false) }
    }
    // najpierw ustawiamy wartosci zmiennych textowych potrzebnych do wyswietlania w modal-u
    function setTextsInTextVariables ( {reserveOptionConfirmation, eventType, title, mainButton, question, buttonOption1, buttonOption2} ) {
        if (typeof reserveOptionConfirmation !== 'undefined' && reserveOptionConfirmation !== null) { reserveOption = reserveOptionConfirmation; }
        if (typeof eventType !== 'undefined' && eventType !== null) { eventTypeInt = eventType; console.log("USTAWIONO = ", eventType); }
        if (typeof title !== 'undefined' && title !== null) { titleText = title; }
        if (typeof mainButton !== 'undefined' && mainButton !== null) { buttonText = mainButton; }
        if (typeof question !== 'undefined' && question !== null) { optionQuestionText = question; }
        if (typeof buttonOption1 !== 'undefined' && buttonOption1 !== null) { buttonOption1Text = buttonOption1; }
        if (typeof buttonOption2 !== 'undefined' && buttonOption2 !== null) { buttonOption2Text = buttonOption2; }
    };
    function setTextsInTemplate(modalId, data=null) {
        //console.log("WYKONALO SIE USTAWIANIE TEXTU W TEMPLATE =", modalId)
        let modal = document.getElementById(modalId);
        let title = modal.querySelector('#title'+modalId);
        if( title) { title.textContent = titleText }
        let btnText = modal.querySelector('#btnText'+modalId);
        if (btnText) { btnText.textContent = buttonText }
        let optionQuestion = modal.querySelector('#optionQuestion'+modalId);
        if (optionQuestion) { optionQuestion.textContent = optionQuestionText; }
        let btnOption1Text = modal.querySelector('#btnOption1Text'+modalId);
        if (btnOption1Text) { btnOption1Text.textContent = buttonOption1Text; }
        let btnOption2Text = modal.querySelector('#btnOption2Text'+modalId);
        if (btnOption2Text) { btnOption2Text.textContent = buttonOption2Text; }
        let visitTimeElement = modal.querySelector('#visitTime'+modalId);
        if (visitTimeElement) {
            if (data && data.intervalTimeInt) {
                //visitTimeElement.classList.remove("hidden");
                visitTimeElement.textContent = "Czas wiztyty: " + data.intervalTimeString;
                //console.error("VisitTimeElement =", visitTimeElement);
            } else {
                //visitTimeElement.classList.add("hidden");
                visitTimeElement.textContent = "";
                //console.error("HIDE")
            }
        }
        if(data){
            fillServiceProviderInformation(modal, data, modalId)
            fillClientData(modal, data, modalId)
            if (data.intervalTimeInt && data.intervalTimeInt != 0) {
                console.log("DOSTALES =", modalId, modal)
                fillIntervalSelectsInTemplate(modal, data, modalId)
            }
            fillDateRange(modalId, data, 'dateRange'+modalId)
        }
    }
    // wersja1 otwarcie modal
    function openModalNewVersion(modalId, datesDisplay=false, intervalDisplay=false, setTextsOption=true, fillInputsOption=true) {
        console.log("OPEN MODAL NEW VERSION = ", modalId)
        let modal = document.getElementById(modalId);
        if (setTextsOption) { setTextsInTemplate(modalId, getMainEventData()) }
        if (fillInputsOption) { fillInputs(modalId) }
        if ( modalId === 'AddEditModal') {
            console.log("Dates display =", datesDisplay)
            if (datesDisplay) {
                document.getElementById('endDateContainer'+modalId).classList.remove("hidden");
                document.getElementById('startDateContainer'+modalId).classList.remove("hidden");
                document.getElementById('endTimeContainer'+modalId).classList.remove("col-span-2","sm:col-span-2");
                document.getElementById('startTimeContainer'+modalId).classList.remove("col-span-2","sm:col-span-2");

                document.getElementById('endDateContainer'+modalId).classList.add("col-span-2","sm:col-span-1");
                document.getElementById('startDateContainer'+modalId).classList.add("col-span-2","sm:col-span-1");
                document.getElementById('endTimeContainer'+modalId).classList.add("col-span-2","sm:col-span-1");
                document.getElementById('startTimeContainer'+modalId).classList.add("col-span-2","sm:col-span-1");
            } else {
                document.getElementById('endDateContainer'+modalId).classList.add("hidden");
                document.getElementById('startDateContainer'+modalId).classList.add("hidden");
                document.getElementById('endTimeContainer'+modalId).classList.remove("col-span-2","sm:col-span-1");
                document.getElementById('startTimeContainer'+modalId).classList.remove("col-span-2","sm:col-span-1");
                document.getElementById('endTimeContainer'+modalId).classList.add("col-span-2","sm:col-span-2");
                document.getElementById('startTimeContainer'+modalId).classList.add("col-span-2","sm:col-span-2");
            }
            console.log("intervalDisply = ", intervalDisplay)
            if (intervalDisplay) {
                console.log("JEST INTERWAL")
                document.getElementById('intervalTimeContainer'+modalId).classList.remove("hidden");
                document.getElementById('breakBetweenIntervalsContainer'+modalId).classList.remove("hidden");
            } else {
                console.log("NIE MA INTERWALOW")
                document.getElementById('intervalTimeContainer'+modalId).classList.add("hidden");
                document.getElementById('breakBetweenIntervalsContainer'+modalId).classList.add("hidden");
            }
        }
        modal.classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
    };
    // wersja2 otwarcie modal z opcjami do wyboru otwarcia innego modal-u
    function openOptionModal(modalId) {
        console.log("openOptionNewVersion ModalID =", modalId)
        let modal = document.getElementById(modalId);
        setTextsInTemplate(modalId, getMainEventData())
        modal.classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
    };
    // po wykoanniu opcji2 otwarcie wlasciwego modal-u
    function optionSelectedModal(option, modalId) {
        console.log("Event type = ", eventTypeInt,"   OPTION SELECTED =", option, "   Reservation option = ", reserveOption)
        let data = getMainEventData()  //= getAllDataForInputs();
        if (eventTypeInt === 0 && option === 0 && !reserveOption) {
            setTextsInTextVariables({title: 'Edytuj dostepny termin świadczenia usługi', mainButton: 'Edytuj dostepny termin'})
            openModalNewVersion('AddEditModal', true, true, true, true)
        }
        else if (eventTypeInt === 0 && option === 1 && !reserveOption)
        {
            setTextsInTextVariables({question: 'Czy na pewno chcesz usunąć ten dostępny termin?', buttonOption1: 'Tak, usuń ten termin', buttonOption2: 'Anuluj'})
            openModalNewVersion('DeleteModal', false, false, true, false)
        }
        else if (eventTypeInt === 0 && option === 0 && reserveOption) {
            console.log("REV ENTIRE");
            passDataByAJAX('/addEditReservation/', {...getAllDataForInputs(), 'eventType':0} ,false)
        }
        else if (eventTypeInt === 0 && option === 1 && reserveOption) {
            console.log("REV PART")
            setTextsInTextVariables({title: 'Rezerwuj część dostępngo terminu świadczenia usług', mainButton: 'Rezerwuj'})
            openModalNewVersion('AddEditModal', true, false, true, true)
        }
        else if ((eventTypeInt === 0 || eventTypeInt === 1) && option === 2 && reserveOption) {
            console.log("REV interval")
            let selected = document.getElementById('availableIntervalTimesReserveIntervalOfBookingDateModal').value
            let selectedDate = new Date(selected)
            selectedDate.setMinutes(selectedDate.getMinutes() + selectedEventInfo.event.extendedProps.intervalTimeInt + selectedEventInfo.event.extendedProps.breakBetweenIntervals - selectedDate.getTimezoneOffset()) //+ selectedDate.getTimezoneOffset()
            if (validateSelectIfThereIsValue(modalId, 'availableIntervalTimes')){
                passDataByAJAX('/addEditReservation/', {
                'id' : selectedEventInfo.event.id,
                'startDate' : selected.split(' ')[0],
                'startTime' : selected.split(' ')[1],
                'endDate' : selectedDate.toISOString().split('T')[0],
                'endTime' : selectedDate.toISOString().split('T')[1].slice(0, 5),
                'eventType': eventTypeInt} ,false)
            } else {
                throw 'Musisz wybrać opcje'
            }
        }
        else if (eventTypeInt === 1 && option === 0 && !reserveOption) {
            setTextsInTextVariables({title: 'Edytuj termin rezerwacji', mainButton: 'Edytuj termin rezerwacji'})
            openModalNewVersion('AddEditModal', true, false, true, true)
        }
        else if (eventTypeInt === 1 && option === 0 && reserveOption) {
            setTextsInTextVariables({title: 'Czy chcesz zmienić rezerwacje terminu?', mainButton: 'Zmień termin rezerwacji'})
            let startAv = new Date(selectedEventInfo.event.extendedProps.availableBookingDateStart);
            startAv.setMinutes(startAv.getMinutes() - startAv.getTimezoneOffset())
            let endAv = new Date(selectedEventInfo.event.extendedProps.availableBookingDateEnd);
            endAv.setMinutes(endAv.getMinutes() - startAv.getTimezoneOffset())
            openModalNewVersion('ReserveIntervalOfBookingDateModal', false, false, true, false)
            setTextsInTemplate('ReserveIntervalOfBookingDateModal', {
                'serviceProviderId': selectedEventInfo.event.extendedProps.serviceProviderId,
                'serviceProviderNameAndSurname': selectedEventInfo.event.extendedProps.serviceProviderNameAndSurname,
                'startAvailableBookingDate': startAv,
                'endAvailableBookingDate': endAv,
                'intervalTimeInt': selectedEventInfo.event.extendedProps.intervalTimeInt,
                'intervalTimeString': selectedEventInfo.event.extendedProps.intervalTimeString,
                'breakBetweenIntervals': selectedEventInfo.event.extendedProps.breakBetweenIntervals})
        }
        else if (eventTypeInt === 1 && option === 1) {
            setTextsInTextVariables({question: 'Czy na pewno chcesz usunąć tą rezerwacje?', buttonOption1: 'Tak, usuń rezerwacje', buttonOption2: 'Anuluj'})
            openModalNewVersion('DeleteModal', false, false, true, false)
        }
        else if (eventTypeInt === 1 && option === 2) {
            passDataByAJAX('/confirmOrRejectReservation/', {'id' : selectedEventInfo.event.id, 'action':'confirmExist'}, false)
        }
        else if (eventTypeInt === 1 && option === 3) {
            passDataByAJAX('/confirmOrRejectReservation/', {'id' : selectedEventInfo.event.id, 'action':'reject'}, false)
        }
        else if (eventTypeInt === 3 && option === 0 && !reserveOption) {
            setTextsInTextVariables({title: 'Edytuj propozycje nowego terminu', mainButton: 'Edytuj propozycje'})
            openModalNewVersion('AddEditModal', true, false, true, true)
        }
        else if (eventTypeInt === 3 && option === 1 && !reserveOption) {
            setTextsInTextVariables({question: 'Czy na pewno chcesz usunąć tę propozycje rezerwacji?', buttonOption1: 'Tak, usuń propozycje', buttonOption2: 'Anuluj'})
            openModalNewVersion('DeleteModal', false, false, true, false)
        }
        else if (eventTypeInt === 3 && option === 2) {
            passDataByAJAX('/confirmOrRejectReservation/', {'id' : selectedEventInfo.event.id, 'action':'confirmNew'}, false)
        }
        closeModal(modalId)
    };
    // pobranie danych z zmiennej eventu (potrzeben do inputow przy edycji zeby byly juz dane aktualnego obiektu)
    function getAllDataForInputs() {
        if (selectedEventInfo){
            return {
                id : selectedEventInfo.event.id,
                startDate : selectedEventInfo.event.start.toISOString().split('T')[0],
                startTime : selectedEventInfo.event.start.toISOString().split('T')[1].slice(0, 5),
                endDate : selectedEventInfo.event.end.toISOString().split('T')[0],
                endTime : selectedEventInfo.event.end.toISOString().split('T')[1].slice(0, 5),
                intervalTime : selectedEventInfo.event.extendedProps.intervalTimeInt,
                breakBetweenIntervals : selectedEventInfo.event.extendedProps.breakBetweenIntervals,
            }
        }
        return null
    }
    // wypelnienie inputow (potrzeben do edycji zeby byly juz dane aktualnego obiektu)
    function fillInputs(modalId) {
        let data = getAllDataForInputs()
        //console.error("JEST DATA = ", data)
        if (data) {
            $('#selectedEventId'+modalId).val(data.id);
            $('#startTime'+modalId).val(data.startTime);
            $('#endTime'+modalId).val(data.endTime);
            $('#startDate'+modalId).val(data.startDate);
            $('#endDate'+modalId).val(data.endDate);
            $('#intervalTime'+modalId).val(data.intervalTime);
            $('#breakBetweenIntervals'+modalId).val(data.breakBetweenIntervals);
        }
    }
    // wersja2 zatwierdzenie
    function deleteEvent() {
        console.log("DELETE EVENT")
        closeModal('DeleteModal')
        let data = {id : selectedEventInfo.event.id, eventTypeId : eventTypeInt}
        passDataByAJAX('/deleteEvent/', data)
    }
    // wersja1 zatwierdzenie
    function addEditEvent() {
        let conditionsMet = validationModalForm('AddEditModal', null, false)
        console.log("Przeszedl validacje na frontendzie = ", conditionsMet, "  eventType = ", eventTypeInt, "   reservation = ", reserveOption)
        if (typeof reserveOption === 'undefined' || reserveOption === null) { throw 'ReservationOption nie ma wartosci' }
        if (conditionsMet) {
            closeModal('AddEditModal')
            let data = getAllNecessaryData('AddEditModal')

            if (eventTypeInt === 0 && reserveOption) { passDataByAJAX('/addEditReservation/', data)}
            else if (eventTypeInt === 0) { passDataByAJAX('/addEditAvailableBookingDate/', data)}
            else if (eventTypeInt === 1) { passDataByAJAX('/addEditReservation/', data)}
            else if (eventTypeInt === 3) { passDataByAJAX('/addEditReservation/', data)}
        }
    }
    // nasluchiwanie zmian w inputach addEdit w celu walidacji na biezaco
    const modal = document.getElementById('AddEditModal');
    modal.addEventListener('input', (e) => {
        validationModalForm('AddEditModal', e, false, false)
    });
    function getAllNecessaryData(modalId){
        let id = selectedEventId
        let eventType = eventTypeInt
        let dataFromTemplate = getAllDataFromTemplate(modalId)
        return {...dataFromTemplate, 'id':id, 'eventType':eventType}
    }
    // pobranie wypełnionych nowych danych z template
    function getAllDataFromTemplate(modalId){
        //const selectedEventIdElement = document.getElementById('selectedEventId'+modalId)
        const startTimeElement = document.getElementById('startTime'+modalId)
        const endTimeElement = document.getElementById('endTime'+modalId)
        const startDateElement = document.getElementById('startDate'+modalId)
        const endDateElement = document.getElementById('endDate'+modalId)
        const intervalTimeElement = document.getElementById('intervalTime'+modalId)
        const breakBetweenIntervalsElement = document.getElementById('breakBetweenIntervals'+modalId)
        //const id = selectedEventIdElement.value;
        const startTimeValue = startTimeElement.value;
        const endTimeValue = endTimeElement.value;
        let startDateValue = null;
        if (startDateElement) { startDateValue = startDateElement.value; }
        let endDateValue = null;
        if (endDateElement) { endDateValue = endDateElement.value; }
        let intervalTimeValue = null;
        if (intervalTimeElement) { intervalTimeValue = intervalTimeElement.value; }
        let breakBetweenIntervalsValue = null;
        if (breakBetweenIntervalsElement) { breakBetweenIntervalsValue = breakBetweenIntervalsElement.value; }
        //console.log("DANE VALIDACI: ", startTimeValue, endTimeValue, startDateValue, endDateValue, intervalTimeValue, breakBetweenIntervalsValue)
        return {
            //'id': selectedEventId,
            'startTime': startTimeValue,
            'endTime': endTimeValue,
            'startDate': startDateValue,
            'endDate': endDateValue,
            'intervalTime': intervalTimeValue,
            'breakBetweenIntervals': breakBetweenIntervalsValue,
        }
    }
    // wyslanie danych Ajax-em do view
    function passDataByAJAX(url, data, possibleNeedRevert=false) {
        console.log("OSTATECZNY URL =", url, "DATA =", data)
        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': csrf_token
            },
            data: data,
            success: function(response) {
                if (response.status === 'success') {
                    console.log("Refetch Pelny skuces: ", response.message)
                    setTimeout(function () { calendar.refetchEvents(); }, 50);
                    setTimeout(function () { calendar.refetchEvents(); }, 250);
                    setTimeout(function () { calendar.refetchEvents(); }, 2500);
                    return response;
                } else if (response.status === 'successWithoutNeedToRefetch') { return response; }
                console.error("Error na backendzie", response.message)
                displayBackendError(response.message)
                if (possibleNeedRevert) {
                    selectedEventInfo.revert()
                    console.error("REVERT ERROR NA BACKENDZIE")
                }
                return response;
            },
            error: function (response) {
                if(!response.message){ return response; }
                console.error("Cos poszło nie tak", response.message)
                return response;
            }
        });
    };
    function displayBackendError(message) {
        console.log("Nie przeszlo walidacji na backendzie: ", message)
        let backendErrorsList = document.getElementById('backendErrors');
        let newErrorItem = document.createElement('li');
        newErrorItem.classList.add('flex','items-center','p-4','font-bold','text-lg','text-red-600','border-2','border-red-600','rounded-lg','bg-red-100','dark:bg-gray-800','dark:text-red-600','dark:border-red-700')
        let closeButton = document.createElement('button');
        let closeIcon = document.createElement('i');
        closeIcon.classList.add('fa-solid', 'fa-xmark', 'fa-2x');
        closeButton.appendChild(closeIcon);
        closeButton.classList.add('ms-auto', '-mx-1.5', '-my-1.5', 'bg-gray-950', 'text-red-600', 'rounded-lg', 'focus:ring-2', 'focus:ring-red-600', 'p-1.5', 'hover:bg-gray-700', 'inline-flex', 'items-center', 'justify-center', 'h-8', 'w-8', 'dark:bg-gray-800', 'dark:text-red-600', 'dark:hover:bg-gray-700');
        closeButton.onclick = function() {
            backendErrorsList.removeChild(newErrorItem);
            if (backendErrorsList.childElementCount === 0) { backendErrorsList.style.display = 'none'; } // Hide the list if it's empty
        };

        let spanItem = document.createElement('span');
        spanItem.textContent = message;

        newErrorItem.append(spanItem);
        newErrorItem.appendChild(closeButton);
        backendErrorsList.appendChild(newErrorItem);

        backendErrorsList.style.display = 'block'; //show the list
        setTimeout(function () {
            backendErrorsList.removeChild(newErrorItem);
            if (backendErrorsList.childElementCount === 0) {
                backendErrorsList.style.display = 'none';
            }}, 10000);
    }
    function closeModal(modalId) {
        setSuccess(modalId)
        //console.error("MODAL ID = ", modalId)
        let modal = document.getElementById(modalId);
        modal.classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
    };
    function dragEventConfirmOrReject(modalId, confirm) {
        closeModal(modalId)
        if(confirm) {
            console.log("Potwierdzono")
            passDataByAJAX('/dragEvent/', dragEventData, true)
        } else {
            selectedEventInfo.revert()
            console.error("REVERT Tu powinno przywrocic pozycje eventu")
        }
    };
    function fillClientData(modal, data, modalId) {
        let clientProfileElement = modal.querySelector('#clientProfileLink'+modalId);
        if (clientProfileElement) { clientProfileElement.href = "/userProfile/"+data.clientId+"/"; }
        let clientNameAndSurnameElement = modal.querySelector('#clientNameAndSurname'+modalId);
        if (clientNameAndSurnameElement) {
            if (data.clientNameAndSurname) {
                clientNameAndSurnameElement.textContent = "Usługobiorca: " + data.clientNameAndSurname;
            } else { clientNameAndSurnameElement.textContent = ""; }
        }
    };
    function fillServiceProviderInformation(modal, data, modalId){
        let serviceProviderProfileElement = modal.querySelector('#serviceProviderProfileLink'+modalId);
        if (serviceProviderProfileElement) { serviceProviderProfileElement.href = "/userProfile/"+data.serviceProviderId+"/"; }
        let serviceProviderNameAndSurnameElement = modal.querySelector('#serviceProviderNameAndSurname'+modalId);
        if (serviceProviderNameAndSurnameElement) {
            if (data.serviceProviderNameAndSurname) {
                serviceProviderNameAndSurnameElement.textContent = "Usługodawca: " + data.serviceProviderNameAndSurname;
            } else { serviceProviderNameAndSurnameElement.textContent = ""; }
        }
    }
    function fillDateRange(modalId, data, elementName){
        let modal = document.getElementById(modalId);
        let startDate = data.startAvailableBookingDate;
        let endDate = data.endAvailableBookingDate;
        let dateRangeElement = modal.querySelector('#'+elementName);
        if (dateRangeElement) {
            {#uwzglednienie strefy czasowej#}
            startDate.setMinutes(startDate.getMinutes() + startDate.getTimezoneOffset())
            endDate.setMinutes(endDate.getMinutes() + endDate.getTimezoneOffset())
            {#let startDateString = data.startAvailableBookingDate.toISOString().split('T')[0];#}
            let startDayOfTheWeek = polishDaysOfWeek[startDate.getDay()]
            let startDateString = startDate.getDate() + " " + polishMonths[startDate.getMonth()]
            let startTimeString = startDate.getMinutes() < 10 ? startDate.getHours() + ":0" + startDate.getMinutes() : startDate.getHours() + ":" + startDate.getMinutes();
            let endDateString = endDate.getDate() + " " + polishMonths[endDate.getMonth()]
            let endTimeString = endDate.getMinutes() < 10 ? endDate.getHours() + ":0" + endDate.getMinutes() : endDate.getHours() + ":" + endDate.getMinutes();
            console.log("FilldataRange Modal id = " ,modalId)
            if (startDate.getDate() === endDate.getDate()){
                dateRangeElement.textContent = startDayOfTheWeek + ", " + startDateString + " " + startTimeString + " - " + endTimeString
            }else{
                dateRangeElement.textContent = startDateString + " " + startTimeString + " - " + endDateString + " " + endTimeString
            }
        }
    };
    // dotyczy reserveIntervalOfBookingDateModal
    function fillIntervalSelectsInTemplate(modal, data, modalId) {
        let selectElement = modal.querySelector('#availableIntervalTimes'+modalId);
        if (selectElement){
            selectElement.innerHTML = '<option value="" selected="">Dostępne terminy</option>';
            let startDateTerms = new Date(data.startAvailableBookingDate);
            startDateTerms = new Date(startDateTerms.setMinutes(startDateTerms.getMinutes() + startDateTerms.getTimezoneOffset()))
            let endDateTerms  = new Date(data.endAvailableBookingDate);
            endDateTerms = new Date(endDateTerms.setMinutes(endDateTerms.getMinutes() + endDateTerms.getTimezoneOffset()));
            let intervalTime = data.intervalTimeInt;
            let breakBetweenIntervals = data.breakBetweenIntervals
            while (startDateTerms < endDateTerms ) {
                let option = document.createElement('option');
                {#let startTimeStringValue = startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' });#}
                {#let startDateStringValue = startDateTerms.toISOString().split('T')[0];#}
                option.value = `${startDateTerms.getFullYear()}-${startDateTerms.getMonth()+1}-${startDateTerms.getDate()} ${startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}`;
                option.text = `${startDateTerms.toLocaleTimeString({ hour: 'numeric', minute: 'numeric' }).slice(0, 5)}   ${polishDaysOfWeek[startDateTerms.getDay()]}, ${startDateTerms.getDate()} ${polishMonths[startDateTerms.getMonth()]}`
                if (startDateTerms.getMinutes() + intervalTime + breakBetweenIntervals < endDateTerms) {
                    selectElement.appendChild(option);
                }
                // Increment the startDate by the intervalTime minutes
                startDateTerms.setMinutes(startDateTerms.getMinutes() + intervalTime + breakBetweenIntervals);
            }
        }
    };
    function fillCurrentTime(containerValue, inputValue) {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const currentTime =  hours + ':' + minutes;
        $('#' + containerValue + ' .' + inputValue).val(currentTime);
    };
</script>