<script>
    function goToEventInCalendar(eventId, eventStart, e){
        console.log("Go to event")
        let url = '/?id='+eventId+'&date='+eventStart;
        window.location.href = url;
    }
    let table;
    $(document).ready(function() {
        table = $('#eventsTable').DataTable({
            paging: true, //stronicowanie
            pageLength: 20,
            lengthChange: true, //change number of elements in page
            lengthMenu: [[10, 20, 25, 50, 100, -1], [10, 20, 25, 50, 100, 'Wszystkie']],
            autoWidth: true,
            searching: true,
            bInfo: true, //info about number of elements in page
            bSort: true,
            orderCellsTop: false,

            fixedHeader: true,
            responsive: true,
            dom: 'ltip',
            //order: [[4, 'asc']],
            columnDefs: [
                { type: 'moment', targets: [0, 3] },
                { type: 'num', targets: [5] },
                { targets: [1, 2], orderable: false },
            ],
            language: {
                lengthMenu: "Pokaż _MENU_ wydarzeń",
                search: "Wyszukiwarka: ",
                paginate: {
                    previous: "Poprzednia ",
                    next: "Następna"
                },
                info: "Pokazuje _START_ do _END_ z _TOTAL_",
                infoFiltered: " (wyfiltrowano z _MAX_ wszystkich rekordów)"
            },
        });
        let newSearch = $("#table-search");
        newSearch.keyup(function(){
            table.search($(this).val()).draw();
        });
    });
    let allRows = true;
    function filterTable(){
        allRows = false;
        table.draw()
    };
    function cancelFilterTable(){
        allRows = true;
        table.draw()
    };

    DataTable.ext.search.push(function (settings, data, dataIndex) {
        if (allRows){
            console.log("ALL ROWS SET TRUE")
            return  true;
        }
        //console.log(settings, data, dataIndex)
        let dateRangeStart = document.getElementById('dateRangeStart');
        let dateRangeEnd = document.getElementById('dateRangeEnd');
        let startValue = dateRangeStart.value;
        let endValue = dateRangeEnd.value;
        if (startValue === "" || endValue === ""){
            console.log("Inputs don't have values")
            return true;
        }
        let startDate = data[0];
        //console.log(startValue, endValue, startDate)
        return isDateInRange(startValue, endValue, data[0]);
    });

    function isDateInRange(startDateStr, endDateStr, targetDateStr) {
        let startDate = parseDateString(startDateStr);
        let endDate = parseDateString(endDateStr);
        //const monthMapping = {'Styczeń': '/1/','Luty': '/2/','Marzec': '/3/','Kwiecień': '/4/','Maj': '/5/','Czerwiec': '/6/','Lipiec': '/7/','Sierpień': '/8/','Wrzesień': '/9/','Październik': '/10/','Listopad': '/11/','Grudzień': '/12/'};
        const monthMapping = {' Styczeń ': '/1/',' Luty ': '/2/',' Marzec ': '/3/',' Kwiecień ': '/4/',' Maj ': '/5/',' Czerwiec ': '/6/',' Lipiec ': '/7/',' Sierpień ': '/8/',' Wrzesień ': '/9/',' Październik ': '/10/',' Listopad ': '/11/',' Grudzień ': '/12/'};
        for (const [monthName, monthValue] of Object.entries(monthMapping)) {
            targetDateStr = targetDateStr.replace(monthName, monthValue);
        }
        console.log(targetDateStr)
        let targetDate = parseDateString(targetDateStr);
        console.log("Target = ", startDate, targetDate, endDate)
        return startDate <= targetDate && targetDate <= endDate;
    };
    function parseDateString(dateString) {
        const [day, month, year] = dateString.split('/');
        return new Date(year, month, day);
    };
    function toggleTable(tableContainer) {
        let table = document.getElementById(tableContainer);
        table.style.display = (table.style.display === 'none') ? '' : 'none';
    }
</script>