{% extends 'base.html' %}

{% block content %}
    <div>
        <head>
            <title>Calendar</title>
{#            wlasny CSS kolidowal z naglowkiem#}
{#            <link rel="stylesheet" type="text/css" href="{% static 'myCSS/calendar.css' %}">#}
{#            link do jQuery#}
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
{#            Kalendarz z https://fullcalendar.io/docs/initialize-globals #}
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{#            alternatywna wersja z https://cdnjs.com/libraries/fullcalendar/6.1.9 chyba dziala tak samo #}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.min.js" integrity="sha512-xCMh+IX6X2jqIgak2DBvsP6DNPne/t52lMbAUJSjr3+trFn14zlaryZlBcXbHKw8SbrpS0n3zlqSVmZPITRDSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.global.js" integrity="sha512-lU5sd0e7f59Jia30P5oEI5zC3BzVJ4ao+xRA70IIJ2UBzek4PCkPk+MTLIYwXTXGErOqjJ/rLdB3gLK0E5hD0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.global.min.js" integrity="sha512-XcSx5820pzZbdZYdvoBBKzuOivQv7oQMd+7JuUHh0jhMwqsWHOf+yRfZRxCtV0ySEKWtKblijTdl9pvODcmD7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#            <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.js" integrity="sha512-bBl4oHIOeYj6jgOLtaYQO99mCTSIb1HD0ImeXHZKqxDNC7UPWTywN2OQRp+uGi0kLurzgaA3fm4PX6e2Lnz9jQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#            Datepicker tailwind#}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script>
        </head>
        <body>
            <div class="col-md-12 text-right">
                <button id="btnAddAvailableBookingDate" onclick="openAddAvailableBookingDateModal()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-lg px-2.5 py-2.5 me-2 mb-2 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-700 dark:border-gray-700">Dodaj dostepny termin</button>
            </div>
            {% include 'availableBookingDate/addAvailableBookingDate.html' %}
            <div class="col-md-12">
                <div id='calendar' class="dark:text-white bg-gray-100 dark:bg-gray-600"></div>
            </div>
            {% include 'partials/addReserwation.html' %}
        </body>
    </div>

    <script>
        var selectedStartStr;
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                timeZone: 'Europe/Warsaw',
                headerToolbar: {
                    left: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay',
                    center: 'title',
                    right: 'prevYear,prev,today,next,nextYear'
                },
                footerToolbar: {
                    start: '',
                    center: '',
                    end: 'prev,next'
                },

                slotLabelFormat: {hour: 'numeric', minute: '2-digit', hour12: false},

                events: '/allEvents',

                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },

                selectable: true,
                editable: true,

                select: function (data){
                    console.log("Wykonalo sie dodanie")
                    console.log("D =", data)
                    console.log(data.startStr)
                    selectedStartStr = data.startStr;

                    $('#startStrField').val(selectedStartStr);
                    $('#addEventModal').removeClass('hidden');
                    $('body').addClass('overflow-hidden');
                },

                eventClick: function (info) {
                    console.log("WYKONALO SIE klikniecie eventu")
                    console.log('Event' + info.event.title + ' ' + info.event.start + ' : ' + info.event.end)
                }

            });
            calendar.render();
        });
        function closeAddEventModal() {
            $('#addEventModal').addClass('hidden');
            $('body').removeClass('overflow-hidden');
        };
    </script>
{% endblock %}