<nav class="flex justify-between items-center h-20 bg-slate-400 dark:bg-slate-900 text-gray-900 dark:text-gray-100 px-4">
    <div class="flex justify-center items-center gap-2">
        <i class="fa-regular fa-calendar-days fa-2xl"></i>
        <a class="text-xl font-extrabold dark:text-white whitespace-nowrap" href="{% url 'index' %}">System rezerwacji terminów</a>
    </div>
    <ul class="flex gap-8">
        <li class="px-4">
            <a href="{% url 'myTest' %}" class="text-3xl font-semibold dark:text-gray-50 no-underline">TEST</a>
        </li>
        <li class="px-4">
            <a href="{% url 'main' %}" class="text-3xl font-semibold dark:text-gray-50 no-underline">POST</a>
        </li>
        <li class="px-4">
            <a href="{% url 'index' %}" class="text-3xl font-semibold dark:text-gray-50 no-underline">KALENDARZ</a>
        </li>
    </ul>
    <div class="relative flex items-center">
        {% if request.user.is_authenticated %}
            <!-- Notification badge -->
            {% include 'notifications/notificationsDropdown.html' %}
            <!-- Avatar image -->
            <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-end" class="w-14 h-14 rounded-full cursor-pointer mr-10 border border-slate-600 dark:border-slate-700" src="{{ profileImageUrl }}" alt="User dropdown">
            <!-- Dropdown menu -->
            <div id="userDropdown" class="absolute z-10 hidden bg-gray-50 divide-y divide-gray-100 rounded-lg shadow w-52 dark:bg-gray-700 dark:divide-gray-600 top-16" style="right: -10px">
                <div class="px-4 py-3 font-bold text-xl text-gray-900 dark:text-white">
                    <a href="{% url 'userProfile' pk=request.user.id %}">{{ request.user }}</a>
                </div>
                {% if userRole == 'admin' %}
                    <ul class="py-2 text-base text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                        <li>
                            <a href="admin/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Strona administracyjna</a>
                        </li>
{#                        <li>#}
{#                            <a href="{% url 'updateRoles' %}"  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Zmień uprawnienia</a>#}
{#                        </li>#}
                    </ul>
                {% endif %}
                <ul class="py-2 text-base text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                    <li>
                        <a href="{% url 'userProfile' pk=request.user.id %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profil</a>
                    </li>
                    <li>
                        <a href="{% url 'updateUser' %}"  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edytuj profil</a>
                    </li>
                </ul>
                <div class="py-1">
                    <a href="{% url 'logout' %}" class="block px-4 py-2 text-base text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Wyloguj się</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-700 text-gray-50 font-bold py-2 px-4 mr-2 rounded whitespace-nowrap">Zaloguj się</a>
            <a href="{% url 'register' %}" class="bg-blue-500 hover:bg-blue-700 text-gray-50 font-bold py-2 px-4 mr-4 rounded whitespace-nowrap">Zarejestruj się</a>
        {% endif %}
        <a href="{% url 'change-theme' %}" class="bg-gray-100 px-5 py-3 mr-2 rounded-2xl hover:bg-gray-300 duration-300 dark:bg-slate-600 dark:hover:bg-slate-400">
            {% if is_dark_theme %}
                <i class="fa-solid fa-sun fa-xl"></i>
            {% else %}
                <i class="fa-solid fa-moon fa-xl"></i>
            {% endif %}
        </a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let avatarButton = document.getElementById("avatarButton");
            if(!avatarButton) { return; }
            let userDropdown = document.getElementById("userDropdown");
            avatarButton.addEventListener("click", function (event) {
                //event.stopPropagation();
                userDropdown.classList.toggle("hidden");
            });
            document.body.addEventListener("click", function (event) {
                if (!event.target.closest("#avatarButton") && !event.target.closest("#userDropdown")) {
                    userDropdown.classList.add("hidden");
                }
            });
        });
    </script>
</nav>
