<nav class="flex justify-between items-center h-20 bg-slate-400 dark:bg-slate-900 text-gray-900 dark:text-gray-100 px-4">
    <div>
        <i class="fa-regular fa-calendar-days fa-2xl"></i>
        <a class="text-xl font-extrabold dark:text-white" href="#">System rezerwacji terminów</a>
    </div>
    <ul class="flex px-8">
        <li class="px-4">
            <a href="{% url 'reservations:main' %}" class="text-2xl dark:text-white no-underline">POST</a>
        </li>
        <li class="px-4">
            <a href="{% url 'reservations:index' %}" class="text-2xl dark:text-white no-underline">KALENDARZ</a>
        </li>
    </ul>
    <div>
        <a href="{% url 'change-theme' %}" class="bg-gray-100 px-4 py-2 rounded-xl hover:bg-gray-300 duration-300 dark:bg-slate-600">
            {% if is_dark_theme %}
                <i class="fa-solid fa-sun"></i>
            {% else %}
                <i class="fa-solid fa-moon"></i>
            {% endif %}
        </a>
    </div>
</nav>

{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />#}
{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark">#}
{#    <div class="container-fluid">#}
{#        <i class="fa-solid fa-person-running" style="color: #fff;"></i>#}
{#        <a class="navbar-brand" href="#">Nocny bieg</a>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="">Wykres biegów</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="">Tabela wyników</a>#}
{#                </li>#}
{#          </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}