/*.select2-selection.select2-selection--multiple{*/
/*    background-color: lightyellow;*/
/*}*/

.inputTime {
    display: flex;
    align-items: center;
    position: relative;
}

.inputCurrentTime {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* Adjust this value as needed */
}

.input-control.error {
    margin-top: 8px;
    color: red;
}

.fc-title {
    padding-left: 4px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    color: white;
}

.fc-title a:hover {
    color: blue;
}


.headerContainer {
    padding: 2cqw;
    font-size: 3cqw;
}

.headerContainer .iconContainer {
    width: 6cqw;
    height: 6cqw
}

.contentContainer {
    padding: 1cqw 2cqw 1cqw 2cqw;
}

.contentContainer :is(input, select) {
    line-height: 3.5cqw;
    font-size: 2.5cqw;
}

.contentContainer :is(label, span, p) {
    font-size: 2.5cqw;
}

.contentContainer button {
    line-height: 5cqw;
    font-size: 3.5cqw;
    padding: 1.5cqw 0cqw 1.5cqw 0cqw;
}

.contentContainer label {
    margin-bottom: 0.5rem;
}


.popper,
.tooltip {
    position: absolute;
    z-index: 19;
    width: fit-content;
}

/*
.popper,
.tooltip {
    position: absolute;
    z-index: 20;
    background: #FFC107;
    color: black;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
*/
