{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
    <head>
        <title>Register</title>
    </head>
    {% with customClass="flex-auto border border-solid border-gray-300 bg-gray-50 text-gray-900 sm:text-2xl rounded-r focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-50 dark:focus:ring-blue-500 dark:focus:border-blue-500 form-control" %}
    <body>
        <div>
            <section id="registerContainer" class="flex justify-center items-center mt-20" style="height: calc(100vh - 8rem)">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
                    <a href="" class="flex items-center mb-2 text-2xl font-bold text-gray-900 dark:text-gray-50">
                        <i class="fa-solid fa-house w-8 h-8 mr-2"></i>
                        System rezerwacji terminów
                    </a>
                    <div class="w-full bg-gray-50 rounded-lg shadow border-2 dark:border-2 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="px-12 py-6 space-y-4 md:space-y-4 sm:px-8 sm:py-4">
                            <h1 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-gray-50 text-center">
                                Zarejestruj konto
                            </h1>
                            <form class="space-y-4 md:space-y-4" method="POST" action="">
                                {% csrf_token %}
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-user text-xl"></i>
                                    </div>
                                    {{ form.username|add_class:customClass }}
                                </div>
                                <div class="form-text text-red-600 dark:text-red-500 small">{{ form.username.errors }}</div>
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-user text-xl"></i>
                                    </div>
                                    {{ form.first_name|add_class:customClass }}
                                </div>
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-user text-xl"></i>
                                    </div>
                                    {{ form.last_name|add_class:customClass }}
                                </div>
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-envelope-square text-xl"></i>
                                    </div>
                                    {{ form.email|add_class:customClass }}
                                </div>
                                <div class="form-text text-red-600 dark:text-red-500 small">{{ form.email.errors }}</div>
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-key text-xl"></i>
                                    </div>
                                    {{ form.password1|add_class:customClass }}
                                </div>
                                <div class="relative flex items-stretch">
                                    <div class="flex items-center whitespace-nowrap rounded-l border border-solid border-gray-300 bg-gray-50 dark:bg-gray-700 dark:text-gray-50 dark:border-gray-600 px-4">
                                        <i class="fas fa-key text-xl"></i>
                                    </div>
                                    {{ form.password2|add_class:customClass }}
                                </div>
                                <div class="form-text text-red-600 dark:text-red-500 small">
                                    {% for error in form.password2.errors %}
                                        {% if error == "The two password fields didn’t match." %}
                                            <p>Podane hasła nie są identyczne.</p>
                                        {% elif error == "The password is too similar to the username." %}
                                            <p>Podane hasła jest zbyt podobne do nazwy użytkownika.</p>
                                        {% elif error == "This password is too short. It must contain at least 8 characters." %}
                                            <p>Podane hasło jest zbyt krótkie. Hasło musi mieć przynajmniej 8 znaków.</p>
                                        {% elif error == "This password is too common." %}
                                            <p>Podane hasło jest zbyt powszechne.</p>
                                        {% else %}
                                            <p>{{ form.password2.errors }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <button type="submit" class="w-full text-gray-50 bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-bold rounded-lg text-3xl px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Zarejestruj się
                                </button>
                                <p class="text-xl font-light text-gray-500 dark:text-gray-400">
                                  Masz konto? <a href="{% url 'login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Zaloguj się</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    {% endwith %}
{% endblock %}
