<!DOCTYPE html>
<html>
    <head>
        <title>event tooltip</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div id="container">
{#            <div id="popcorn" aria-describedby="tooltip"></div>#}
            <div id="tooltip" role="tooltip">
                <div id="eventTypeTooltip"></div>
                <div id="eventStarTooltip"></div>
                <div id="eventEndTooltip"></div>
                <div id="serviceProviderTooltip"></div>
                <div id="clientTooltip"></div>
                <div id="arrow" data-popper-arrow></div>
            </div>
        </div>
    </body>
</html>
